body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:910px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:750px;
  background:inherit;
  background-color:rgba(231, 232, 235, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2412 {
  position:absolute;
  left:10px;
  top:10px;
  width:900px;
  height:750px;
}
#u2413 {
  position:absolute;
  left:2px;
  top:367px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2414_img {
  position:absolute;
  left:0px;
  top:0px;
  width:898px;
  height:59px;
}
#u2414 {
  position:absolute;
  left:11px;
  top:10px;
  width:898px;
  height:59px;
}
#u2415 {
  position:absolute;
  left:2px;
  top:22px;
  width:894px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2416_img {
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:568px;
}
#u2416 {
  position:absolute;
  left:264px;
  top:101px;
  width:408px;
  height:568px;
}
#u2417 {
  position:absolute;
  left:2px;
  top:276px;
  width:404px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:36px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2418 {
  position:absolute;
  left:372px;
  top:518px;
  width:184px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2419 {
  position:absolute;
  left:2px;
  top:10px;
  width:180px;
  word-wrap:break-word;
}
#u2420_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2420 {
  position:absolute;
  left:312px;
  top:525px;
  width:50px;
  height:50px;
}
#u2421 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:50px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2422 {
  position:absolute;
  left:411px;
  top:576px;
  width:231px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2423 {
  position:absolute;
  left:2px;
  top:17px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2424 {
  position:absolute;
  left:22px;
  top:770px;
  width:263px;
  height:16px;
}
#u2425 {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  white-space:nowrap;
}
