body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1850px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3821 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3822 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:720px;
  overflow:hidden;
  visibility:hidden;
}
#u3822_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:720px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3822_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:720px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u3823 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:720px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u3824 {
  position:absolute;
  left:2px;
  top:352px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:460px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3825 {
  position:absolute;
  left:298px;
  top:75px;
  width:658px;
  height:460px;
}
#u3826 {
  position:absolute;
  left:2px;
  top:222px;
  width:654px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3827 {
  position:absolute;
  left:298px;
  top:75px;
  width:658px;
  height:460px;
}
#u3827_input {
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:460px;
}
#u3828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u3828 {
  position:absolute;
  left:927px;
  top:75px;
  width:29px;
  height:29px;
  font-size:16px;
}
#u3829 {
  position:absolute;
  left:2px;
  top:5px;
  width:25px;
  word-wrap:break-word;
}
#u3822_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:720px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3822_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:720px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u3830 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:720px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u3831 {
  position:absolute;
  left:2px;
  top:352px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:460px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3832 {
  position:absolute;
  left:298px;
  top:75px;
  width:658px;
  height:460px;
}
#u3833 {
  position:absolute;
  left:2px;
  top:222px;
  width:654px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3834 {
  position:absolute;
  left:298px;
  top:75px;
  width:658px;
  height:460px;
}
#u3834_input {
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:460px;
}
#u3835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u3835 {
  position:absolute;
  left:927px;
  top:75px;
  width:29px;
  height:29px;
  font-size:16px;
}
#u3836 {
  position:absolute;
  left:2px;
  top:5px;
  width:25px;
  word-wrap:break-word;
}
#u3822_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:720px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3822_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:720px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u3837 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:720px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u3838 {
  position:absolute;
  left:2px;
  top:352px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:460px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3839 {
  position:absolute;
  left:298px;
  top:75px;
  width:658px;
  height:460px;
}
#u3840 {
  position:absolute;
  left:2px;
  top:222px;
  width:654px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3841 {
  position:absolute;
  left:298px;
  top:75px;
  width:658px;
  height:460px;
}
#u3841_input {
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:460px;
}
#u3842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u3842 {
  position:absolute;
  left:927px;
  top:75px;
  width:29px;
  height:29px;
  font-size:16px;
}
#u3843 {
  position:absolute;
  left:2px;
  top:5px;
  width:25px;
  word-wrap:break-word;
}
#u3822_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:720px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3822_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:720px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u3844 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:720px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u3845 {
  position:absolute;
  left:2px;
  top:352px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:460px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3846 {
  position:absolute;
  left:298px;
  top:75px;
  width:658px;
  height:460px;
}
#u3847 {
  position:absolute;
  left:2px;
  top:222px;
  width:654px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3848 {
  position:absolute;
  left:298px;
  top:75px;
  width:658px;
  height:460px;
}
#u3848_input {
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:460px;
}
#u3849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u3849 {
  position:absolute;
  left:927px;
  top:75px;
  width:29px;
  height:29px;
  font-size:16px;
}
#u3850 {
  position:absolute;
  left:2px;
  top:5px;
  width:25px;
  word-wrap:break-word;
}
#u3851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:24px;
}
#u3851 {
  position:absolute;
  left:1658px;
  top:3182px;
  width:22px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3852 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3853 {
  position:absolute;
  left:1690px;
  top:3186px;
  width:44px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3854 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u3855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:8px;
}
#u3855 {
  position:absolute;
  left:1836px;
  top:3193px;
  width:14px;
  height:8px;
}
#u3856 {
  position:absolute;
  left:2px;
  top:-4px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u3857 {
  position:absolute;
  left:135px;
  top:3186px;
  width:24px;
  height:20px;
}
#u3858 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3859 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:720px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u3862 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:720px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u3863 {
  position:absolute;
  left:2px;
  top:352px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:50px;
  background:inherit;
  background-color:rgba(54, 63, 69, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3865 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3866 {
  position:absolute;
  left:2px;
  top:17px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3867 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u3868 {
  position:absolute;
  left:1080px;
  top:19px;
  width:16px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3869 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3870 {
  position:absolute;
  left:1112px;
  top:17px;
  width:44px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3871 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u3872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u3872 {
  position:absolute;
  left:200px;
  top:15px;
  width:20px;
  height:18px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3873 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u3874 {
  position:absolute;
  left:1176px;
  top:18px;
  width:16px;
  height:17px;
}
#u3875 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u3876 {
  position:absolute;
  left:1239px;
  top:18px;
  width:16px;
  height:17px;
}
#u3877 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
}
#u3878 {
  position:absolute;
  left:1209px;
  top:18px;
  width:14px;
  height:18px;
}
#u3879 {
  position:absolute;
  left:2px;
  top:1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3881 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:720px;
  overflow:hidden;
}
#u3881_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:720px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3881_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:720px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3882 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:720px;
}
#u3883 {
  position:absolute;
  left:2px;
  top:352px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u3884 {
  position:absolute;
  left:53px;
  top:68px;
  width:70px;
  height:70px;
}
#u3885 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3886 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#363F45;
}
#u3887 {
  position:absolute;
  left:59px;
  top:186px;
  width:29px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#363F45;
}
#u3888 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u3889 {
  position:absolute;
  left:18px;
  top:188px;
  width:18px;
  height:16px;
}
#u3890 {
  position:absolute;
  left:2px;
  top:0px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#363F45;
}
#u3891 {
  position:absolute;
  left:59px;
  top:250px;
  width:57px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#363F45;
}
#u3892 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#363F45;
}
#u3893 {
  position:absolute;
  left:59px;
  top:282px;
  width:57px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#363F45;
}
#u3894 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3895 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#363F45;
}
#u3896 {
  position:absolute;
  left:59px;
  top:218px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#363F45;
}
#u3897 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u3898 {
  position:absolute;
  left:18px;
  top:220px;
  width:21px;
  height:16px;
}
#u3899 {
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#363F45;
}
#u3900 {
  position:absolute;
  left:59px;
  top:346px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#363F45;
}
#u3901 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#363F45;
}
#u3902 {
  position:absolute;
  left:59px;
  top:378px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#363F45;
}
#u3903 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:37px;
}
#u3904 {
  position:absolute;
  left:0px;
  top:12px;
  width:180px;
  height:36px;
  font-family:'Arial Black', 'Arial Normal', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:16px;
}
#u3905 {
  position:absolute;
  left:2px;
  top:8px;
  width:176px;
  word-wrap:break-word;
}
#u3906 {
  position:absolute;
  left:27px;
  top:247px;
  width:121px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3907 {
  position:absolute;
  left:16px;
  top:148px;
  width:145px;
  height:24px;
}
#u3907_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3907_input:disabled {
  color:grayText;
}
#u3908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3908 {
  position:absolute;
  left:10px;
  top:146px;
  width:160px;
  height:32px;
}
#u3909 {
  position:absolute;
  left:2px;
  top:8px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#363F45;
}
#u3910 {
  position:absolute;
  left:59px;
  top:313px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#363F45;
}
#u3911 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#363F45;
}
#u3912 {
  position:absolute;
  left:59px;
  top:508px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#363F45;
}
#u3913 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3914 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#363F45;
}
#u3915 {
  position:absolute;
  left:59px;
  top:476px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#363F45;
}
#u3916 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u3917 {
  position:absolute;
  left:18px;
  top:478px;
  width:21px;
  height:16px;
}
#u3918 {
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#363F45;
}
#u3919 {
  position:absolute;
  left:59px;
  top:541px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#363F45;
}
#u3920 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#363F45;
}
#u3921 {
  position:absolute;
  left:59px;
  top:411px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#363F45;
}
#u3922 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u3923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#363F45;
}
#u3923 {
  position:absolute;
  left:59px;
  top:443px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#363F45;
}
#u3924 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3925 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#363F45;
}
#u3926 {
  position:absolute;
  left:59px;
  top:606px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#363F45;
}
#u3927 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u3928 {
  position:absolute;
  left:18px;
  top:608px;
  width:21px;
  height:16px;
}
#u3929 {
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#363F45;
}
#u3930 {
  position:absolute;
  left:59px;
  top:573px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#363F45;
}
#u3931 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#363F45;
}
#u3932 {
  position:absolute;
  left:59px;
  top:638px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#363F45;
}
#u3933 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#363F45;
}
#u3934 {
  position:absolute;
  left:59px;
  top:671px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#363F45;
}
#u3935 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3936 {
  position:absolute;
  left:27px;
  top:278px;
  width:121px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3937 {
  position:absolute;
  left:27px;
  top:309px;
  width:121px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3938 {
  position:absolute;
  left:27px;
  top:343px;
  width:121px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3939 {
  position:absolute;
  left:27px;
  top:375px;
  width:121px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3940 {
  position:absolute;
  left:27px;
  top:407px;
  width:121px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3941 {
  position:absolute;
  left:27px;
  top:440px;
  width:121px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3942 {
  position:absolute;
  left:27px;
  top:504px;
  width:121px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3943 {
  position:absolute;
  left:27px;
  top:537px;
  width:121px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3944 {
  position:absolute;
  left:27px;
  top:570px;
  width:121px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3945 {
  position:absolute;
  left:27px;
  top:634px;
  width:121px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3946 {
  position:absolute;
  left:27px;
  top:667px;
  width:121px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3947 {
  position:absolute;
  left:62px;
  top:138px;
  width:57px;
  height:20px;
}
#u3948 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3949 {
  position:absolute;
  left:27px;
  top:182px;
  width:121px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:50px;
}
#u3951 {
  position:absolute;
  left:190px;
  top:56px;
  width:1080px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3952 {
  position:absolute;
  left:2px;
  top:17px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3953 {
  position:absolute;
  left:1246px;
  top:59px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u3953_img.mouseOver {
}
#u3953.mouseOver {
  opacity:0.8;
}
#u3954 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u3955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u3955 {
  position:absolute;
  left:205px;
  top:161px;
  width:218px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u3956 {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  word-wrap:break-word;
}
#u3957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1078px;
  height:522px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3957 {
  position:absolute;
  left:196px;
  top:192px;
  width:1078px;
  height:522px;
  font-size:12px;
}
#u3958 {
  position:absolute;
  left:2px;
  top:253px;
  width:1074px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1068px;
  height:61px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3959 {
  position:absolute;
  left:205px;
  top:313px;
  width:1068px;
  height:61px;
  font-size:12px;
}
#u3960 {
  position:absolute;
  left:2px;
  top:22px;
  width:1064px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3961 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1069px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3962 {
  position:absolute;
  left:205px;
  top:203px;
  width:1069px;
  height:50px;
  font-size:12px;
}
#u3963 {
  position:absolute;
  left:2px;
  top:18px;
  width:1065px;
  word-wrap:break-word;
}
#u3964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u3964 {
  position:absolute;
  left:436px;
  top:217px;
  width:25px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u3965 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u3966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u3966 {
  position:absolute;
  left:618px;
  top:217px;
  width:25px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u3967 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u3968 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u3969 {
  position:absolute;
  left:799px;
  top:217px;
  width:25px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u3970 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u3971 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u3972 {
  position:absolute;
  left:838px;
  top:221px;
  width:6px;
  height:6px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3973 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u3974 {
  position:absolute;
  left:838px;
  top:222px;
  width:6px;
  height:6px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3975 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u3976 {
  position:absolute;
  left:254px;
  top:217px;
  width:25px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u3977 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u3978 {
  position:absolute;
  left:215px;
  top:218px;
  width:39px;
  height:16px;
  font-size:12px;
}
#u3979 {
  position:absolute;
  left:16px;
  top:0px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3978_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u3980 {
  position:absolute;
  left:1208px;
  top:217px;
  width:25px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u3981 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u3982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u3982 {
  position:absolute;
  left:1002px;
  top:215px;
  width:49px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u3983 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3984 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3985 {
  position:absolute;
  left:248px;
  top:275px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u3986 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u3987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3987 {
  position:absolute;
  left:612px;
  top:276px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u3988 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3989 {
  position:absolute;
  left:807px;
  top:275px;
  width:51px;
  height:15px;
  font-size:12px;
}
#u3990 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u3991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u3991 {
  position:absolute;
  left:429px;
  top:263px;
  width:40px;
  height:40px;
  font-size:12px;
}
#u3992 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3993 {
  position:absolute;
  left:205px;
  top:274px;
  width:40px;
  height:16px;
  font-size:12px;
}
#u3994 {
  position:absolute;
  left:16px;
  top:0px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3993_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3995 {
  position:absolute;
  left:1210px;
  top:271px;
  width:53px;
  height:24px;
  font-size:12px;
}
#u3996 {
  position:absolute;
  left:2px;
  top:4px;
  width:49px;
  word-wrap:break-word;
}
#u3997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3997 {
  position:absolute;
  left:1147px;
  top:271px;
  width:53px;
  height:24px;
  font-size:12px;
}
#u3998 {
  position:absolute;
  left:2px;
  top:4px;
  width:49px;
  word-wrap:break-word;
}
#u3999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3999 {
  position:absolute;
  left:1013px;
  top:275px;
  width:51px;
  height:15px;
  font-size:12px;
}
#u4000 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u4001 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u4002 {
  position:absolute;
  left:596px;
  top:524px;
  width:80px;
  height:80px;
  font-size:12px;
}
#u4003 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4004 {
  position:absolute;
  left:690px;
  top:557px;
  width:97px;
  height:15px;
  font-size:12px;
}
#u4005 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u4006 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:29px;
}
#u4007 {
  position:absolute;
  left:596px;
  top:677px;
  width:237px;
  height:29px;
}
#u4008 {
  position:absolute;
  left:2px;
  top:6px;
  width:233px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1079px;
  height:2px;
}
#u4009 {
  position:absolute;
  left:196px;
  top:670px;
  width:1078px;
  height:1px;
}
#u4010 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1074px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4011 {
  position:absolute;
  left:205px;
  top:157px;
  width:75px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4012 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4013 {
  position:absolute;
  left:248px;
  top:336px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u4014 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u4015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4015 {
  position:absolute;
  left:612px;
  top:337px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u4016 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4017 {
  position:absolute;
  left:807px;
  top:336px;
  width:51px;
  height:15px;
  font-size:12px;
}
#u4018 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u4019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u4019 {
  position:absolute;
  left:429px;
  top:324px;
  width:40px;
  height:40px;
  font-size:12px;
}
#u4020 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4021 {
  position:absolute;
  left:205px;
  top:335px;
  width:40px;
  height:16px;
  font-size:12px;
}
#u4022 {
  position:absolute;
  left:16px;
  top:0px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4021_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4023 {
  position:absolute;
  left:1210px;
  top:332px;
  width:53px;
  height:24px;
  font-size:12px;
}
#u4024 {
  position:absolute;
  left:2px;
  top:4px;
  width:49px;
  word-wrap:break-word;
}
#u4025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:24px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4025 {
  position:absolute;
  left:1147px;
  top:332px;
  width:53px;
  height:24px;
  font-size:12px;
}
#u4026 {
  position:absolute;
  left:2px;
  top:4px;
  width:49px;
  word-wrap:break-word;
}
#u4027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4027 {
  position:absolute;
  left:1013px;
  top:336px;
  width:51px;
  height:15px;
  font-size:12px;
}
#u4028 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
