@mixin scrollBar{
    &::-webkit-scrollbar-track-piece {
        background: #d3dce6;
    }
    &::-webkit-scrollbar {
        width: 6px;
    }
    &::-webkit-scrollbar-thumb {
        background: #99a9bf;
        border-radius: 20px;
    }
}

// 浮动
.left {
    float: left;
}
   
.right {
    float: right;
}
   
// 清除浮动
.clearfix:after {
    content: '';
    display: block;
    clear: both;
}
   