body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:224px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:466px;
}
#u5003 {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:466px;
}
#u5004 {
  position:absolute;
  left:2px;
  top:225px;
  width:220px;
  visibility:hidden;
  word-wrap:break-word;
}
