<!DOCTYPE html>
<html>
  <head>
    <title>使用支付宝支付-已配置</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/使用支付宝支付-已配置/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/ie.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="files/使用支付宝支付-已配置/data.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (组合) -->
      <div id="u11841" class="ax_default">
      </div>

      <!-- Unnamed (组合模板) -->

      <!-- Unnamed (背景) -->

      <!-- Unnamed (矩形) -->
      <div id="u11844" class="ax_default box_2">
        <div id="u11844_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11845" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (主标题) -->

      <!-- Unnamed (矩形) -->
      <div id="u11847" class="ax_default box_2">
        <div id="u11847_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11848" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u11849" class="ax_default">

        <!-- Unnamed (形状) -->
        <div id="u11850" class="ax_default icon">
          <img id="u11850_img" class="img " src="images/首页-店铺/u131.png"/>
          <!-- Unnamed () -->
          <div id="u11851" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u11852" class="ax_default label">
          <div id="u11852_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u11853" class="text" style="visibility: visible;">
            <p><span>admin</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u11854" class="ax_default icon">
        <img id="u11854_img" class="img " src="images/首页-店铺/u135.png"/>
        <!-- Unnamed () -->
        <div id="u11855" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u11856" class="ax_default icon" title="系统消息">
        <img id="u11856_img" class="img " src="images/首页-店铺/u137.png"/>
        <!-- Unnamed () -->
        <div id="u11857" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u11858" class="ax_default icon" title="退出">
        <img id="u11858_img" class="img " src="images/首页-店铺/u139.png"/>
        <!-- Unnamed () -->
        <div id="u11859" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u11860" class="ax_default icon" title="修改密码">
        <img id="u11860_img" class="img " src="images/首页-店铺/u141.png"/>
        <!-- Unnamed () -->
        <div id="u11861" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (侧边主导航) -->

      <!-- Unnamed (动态面板) -->
      <div id="u11863" class="ax_default">
        <div id="u11863_state0" class="panel_state" data-label="State1">
          <div id="u11863_state0_content" class="panel_state_content">

            <!-- Unnamed (矩形) -->
            <div id="u11864" class="ax_default box_2">
              <div id="u11864_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u11865" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (图片) -->
            <div id="u11866" class="ax_default _图片">
              <img id="u11866_img" class="img " src="images/首页-店铺/u147.png"/>
              <!-- Unnamed () -->
              <div id="u11867" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (组合) -->
            <div id="u11868" class="ax_default">

              <!-- Unnamed (矩形) -->
              <div id="u11869" class="ax_default _三级标题">
                <div id="u11869_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u11870" class="text" style="visibility: visible;">
                  <p><span>首页</span></p>
                </div>
              </div>

              <!-- Unnamed (形状) -->
              <div id="u11871" class="ax_default icon">
                <img id="u11871_img" class="img " src="images/首页-店铺/u152.png"/>
                <!-- Unnamed () -->
                <div id="u11872" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u11873" class="ax_default _三级标题">
              <div id="u11873_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u11874" class="text" style="visibility: visible;">
                <p><span>店铺信息</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u11875" class="ax_default _三级标题">
              <div id="u11875_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u11876" class="text" style="visibility: visible;">
                <p><span>员工管理</span></p>
              </div>
            </div>

            <!-- Unnamed (组合) -->
            <div id="u11877" class="ax_default">

              <!-- Unnamed (矩形) -->
              <div id="u11878" class="ax_default _三级标题">
                <div id="u11878_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u11879" class="text" style="visibility: visible;">
                  <p><span>店铺管理</span></p>
                </div>
              </div>

              <!-- Unnamed (形状) -->
              <div id="u11880" class="ax_default icon">
                <img id="u11880_img" class="img " src="images/首页-店铺/u161.png"/>
                <!-- Unnamed () -->
                <div id="u11881" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u11882" class="ax_default _三级标题">
              <div id="u11882_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u11883" class="text" style="visibility: visible;">
                <p><span>菜品管理</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u11884" class="ax_default _三级标题">
              <div id="u11884_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u11885" class="text" style="visibility: visible;">
                <p><span>客户管理</span></p>
              </div>
            </div>

            <!-- Unnamed (占位符) -->
            <div id="u11886" class="ax_default placeholder">
              <img id="u11886_img" class="img " src="images/首页-店铺/u167.png"/>
              <!-- Unnamed () -->
              <div id="u11887" class="text" style="visibility: visible;">
                <p><span>logo赛领点餐系统平台</span></p>
              </div>
            </div>

            <!-- Unnamed (热区) -->
            <div id="u11888" class="ax_default">
            </div>

            <!-- Unnamed (下拉列表框) -->
            <div id="u11889" class="ax_default droplist">
              <select id="u11889_input">
                <option selected value="     店铺名称1">&nbsp;&nbsp; &nbsp; 店铺名称1</option>
              </select>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u11890" class="ax_default box_2">
              <div id="u11890_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u11891" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u11892" class="ax_default _三级标题">
              <div id="u11892_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u11893" class="text" style="visibility: visible;">
                <p><span>餐桌管理</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u11894" class="ax_default _三级标题">
              <div id="u11894_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u11895" class="text" style="visibility: visible;">
                <p><span>订单报表</span></p>
              </div>
            </div>

            <!-- Unnamed (组合) -->
            <div id="u11896" class="ax_default">

              <!-- Unnamed (矩形) -->
              <div id="u11897" class="ax_default _三级标题">
                <div id="u11897_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u11898" class="text" style="visibility: visible;">
                  <p><span>统计报表</span></p>
                </div>
              </div>

              <!-- Unnamed (形状) -->
              <div id="u11899" class="ax_default icon">
                <img id="u11899_img" class="img " src="images/首页-店铺/u161.png"/>
                <!-- Unnamed () -->
                <div id="u11900" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u11901" class="ax_default _三级标题">
              <div id="u11901_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u11902" class="text" style="visibility: visible;">
                <p><span>预订报表</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u11903" class="ax_default _三级标题">
              <div id="u11903_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u11904" class="text" style="visibility: visible;">
                <p><span>打印机管理</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u11905" class="ax_default _三级标题">
              <div id="u11905_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u11906" class="text" style="visibility: visible;">
                <p><span>收银设置</span></p>
              </div>
            </div>

            <!-- Unnamed (组合) -->
            <div id="u11907" class="ax_default">

              <!-- Unnamed (矩形) -->
              <div id="u11908" class="ax_default _三级标题">
                <div id="u11908_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u11909" class="text" style="visibility: visible;">
                  <p><span>消息中心</span></p>
                </div>
              </div>

              <!-- Unnamed (形状) -->
              <div id="u11910" class="ax_default icon">
                <img id="u11910_img" class="img " src="images/首页-店铺/u161.png"/>
                <!-- Unnamed () -->
                <div id="u11911" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u11912" class="ax_default _三级标题">
              <div id="u11912_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u11913" class="text" style="visibility: visible;">
                <p><span>账单流水</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u11914" class="ax_default _三级标题">
              <div id="u11914_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u11915" class="text" style="visibility: visible;">
                <p><span>系统公告</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u11916" class="ax_default _三级标题">
              <div id="u11916_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u11917" class="text" style="visibility: visible;">
                <p><span>群发消息</span></p>
              </div>
            </div>

            <!-- Unnamed (热区) -->
            <div id="u11918" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u11919" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u11920" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u11921" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u11922" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u11923" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u11924" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u11925" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u11926" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u11927" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u11928" class="ax_default">
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u11929" class="ax_default label">
              <div id="u11929_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u11930" class="text" style="visibility: visible;">
                <p><span>店铺名称</span></p>
              </div>
            </div>

            <!-- Unnamed (热区) -->
            <div id="u11931" class="ax_default">
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (主横幅Banner) -->

      <!-- Unnamed (图片) -->
      <div id="u11933" class="ax_default image">
        <img id="u11933_img" class="img " src="images/首页-店铺/u214.png"/>
        <!-- Unnamed () -->
        <div id="u11934" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (椭圆形) -->
      <div id="u11935" class="ax_default ellipse">
        <img id="u11935_img" class="img " src="images/首页-店铺/u216.png"/>
        <!-- Unnamed () -->
        <div id="u11936" class="text" style="visibility: visible;">
          <p><span>X</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11937" class="ax_default box_2">
        <div id="u11937_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11938" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11939" class="ax_default _三级标题">
        <div id="u11939_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11940" class="text" style="visibility: visible;">
          <p><span>收银设置</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11941" class="ax_default _三级标题">
        <div id="u11941_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11942" class="text" style="visibility: visible;">
          <p><span>微信支付设置</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11943" class="ax_default _三级标题">
        <div id="u11943_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11944" class="text" style="visibility: visible;">
          <p><span>支付宝支付设置</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11945" class="ax_default box_2">
        <div id="u11945_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11946" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u11947" class="ax_default">

        <!-- Unnamed (矩形) -->
        <div id="u11948" class="ax_default box_1">
          <div id="u11948_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u11949" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (单选按钮) -->
        <div id="u11950" class="ax_default radio_button">
          <label for="u11950_input">
            <!-- Unnamed () -->
            <div id="u11951" class="text" style="visibility: visible;">
              <p><span>收款码入账（无需开通支付宝当面付）</span></p>
            </div>
          </label>
          <input id="u11950_input" type="radio" value="radio" name="收款方式2"/>
        </div>

        <!-- Unnamed (单选按钮) -->
        <div id="u11952" class="ax_default radio_button">
          <label for="u11952_input">
            <!-- Unnamed () -->
            <div id="u11953" class="text" style="visibility: visible;">
              <p><span>使用支付宝当面付（需先开通支付宝当面付）</span></p>
            </div>
          </label>
          <input id="u11952_input" type="radio" value="radio" name="收款方式2" checked/>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u11954" class="ax_default label">
          <div id="u11954_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u11955" class="text" style="visibility: visible;">
            <p><span>收款方式</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11956" class="ax_default label">
        <div id="u11956_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11957" class="text" style="visibility: visible;">
          <p><span>支付宝AppID</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11958" class="ax_default label">
        <div id="u11958_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11959" class="text" style="visibility: visible;">
          <p><span>RSA私钥</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11960" class="ax_default label">
        <div id="u11960_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11961" class="text" style="visibility: visible;">
          <p><span>支付宝公钥</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11962" class="ax_default label">
        <div id="u11962_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11963" class="text" style="visibility: visible;">
          <p><span>安全校验码</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11964" class="ax_default label">
        <div id="u11964_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11965" class="text" style="visibility: visible;">
          <p><span>合作者身份</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11966" class="ax_default label">
        <div id="u11966_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11967" class="text" style="visibility: visible;">
          <p><span>支付宝账号</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11968" class="ax_default label">
        <div id="u11968_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11969" class="text" style="visibility: visible;">
          <p><span>abchadho1232198jcna</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11970" class="ax_default label">
        <div id="u11970_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11971" class="text" style="visibility: visible;">
          <p><span>MIICdwIBADANBgkqhkiG9w0BAQEFAASCAmEwggJdAgEAAoGBANYs5EYJ6KwEhUtz</span></p><p><span>KjG0Cabol32JW2qzJwpvIKvbVYi/W1zn2UdTnSBH1NsyZ2XIBtcbAruiqwALbiZc</span></p><p><span>btntoLLZ7j/u/sWV1dsxJIG1Q+6bZOc1n0r0tz5dDSMNFzKshTphlksNZ0UY/gpw</span></p><p><span>UWeHVpWmzG7CJ1Fg1/0HVjzq0J+nAgMBAAECgYEArGuHejsP7SvWg187YLgn7Q7i</span></p><p><span>plWmGsgPbf74tmHlAinLS4f7C8jsfchWPADf7LiTiShdkuDp+Sc6jfdr5lW/</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11972" class="ax_default label">
        <div id="u11972_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11973" class="text" style="visibility: visible;">
          <p><span>MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDWLORGCeisBIVLcyoxtAmm6Jd9iVtqsycKbyCr21WIv1tc59lHU50gR9TbMmdlyAbXGwK7oqsAC24mXG7Z7aCy2e4/7v7FldXbMSSBtUPum2TnNZ9K9Lc+XQ0jDRcyrIU6YZZLDWdFGP4KcFFnh1aVpsxuwidRYNf9B1Y86tCfpwIDAQAB</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11974" class="ax_default label">
        <div id="u11974_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11975" class="text" style="visibility: visible;">
          <p><span>abchadho1232198jcna</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11976" class="ax_default label">
        <div id="u11976_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11977" class="text" style="visibility: visible;">
          <p><span>abchadho1232198jcna</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11978" class="ax_default label">
        <div id="u11978_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11979" class="text" style="visibility: visible;">
          <p><span>rick@morty.com</span></p>
        </div>
      </div>
    </div>
  </body>
</html>
