<!DOCTYPE html>
<html>
  <head>
    <title>发消息</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/发消息/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/ie.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="files/发消息/data.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (组合模板) -->

      <!-- Unnamed (背景) -->

      <!-- Unnamed (矩形) -->
      <div id="u8575" class="ax_default box_2">
        <div id="u8575_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8576" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (主标题) -->

      <!-- Unnamed (矩形) -->
      <div id="u8578" class="ax_default box_2">
        <div id="u8578_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8579" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u8580" class="ax_default">

        <!-- Unnamed (形状) -->
        <div id="u8581" class="ax_default icon">
          <img id="u8581_img" class="img " src="images/首页-店铺/u131.png"/>
          <!-- Unnamed () -->
          <div id="u8582" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u8583" class="ax_default label">
          <div id="u8583_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u8584" class="text" style="visibility: visible;">
            <p><span>admin</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u8585" class="ax_default icon">
        <img id="u8585_img" class="img " src="images/首页-店铺/u135.png"/>
        <!-- Unnamed () -->
        <div id="u8586" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u8587" class="ax_default icon" title="系统消息">
        <img id="u8587_img" class="img " src="images/首页-店铺/u137.png"/>
        <!-- Unnamed () -->
        <div id="u8588" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u8589" class="ax_default icon" title="退出">
        <img id="u8589_img" class="img " src="images/首页-店铺/u139.png"/>
        <!-- Unnamed () -->
        <div id="u8590" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u8591" class="ax_default icon" title="修改密码">
        <img id="u8591_img" class="img " src="images/首页-店铺/u141.png"/>
        <!-- Unnamed () -->
        <div id="u8592" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (侧边主导航) -->

      <!-- Unnamed (动态面板) -->
      <div id="u8594" class="ax_default">
        <div id="u8594_state0" class="panel_state" data-label="State1">
          <div id="u8594_state0_content" class="panel_state_content">

            <!-- Unnamed (矩形) -->
            <div id="u8595" class="ax_default box_2">
              <div id="u8595_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u8596" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (图片) -->
            <div id="u8597" class="ax_default _图片">
              <img id="u8597_img" class="img " src="images/首页-店铺/u147.png"/>
              <!-- Unnamed () -->
              <div id="u8598" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (组合) -->
            <div id="u8599" class="ax_default">

              <!-- Unnamed (矩形) -->
              <div id="u8600" class="ax_default _三级标题">
                <div id="u8600_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u8601" class="text" style="visibility: visible;">
                  <p><span>首页</span></p>
                </div>
              </div>

              <!-- Unnamed (形状) -->
              <div id="u8602" class="ax_default icon">
                <img id="u8602_img" class="img " src="images/首页-店铺/u152.png"/>
                <!-- Unnamed () -->
                <div id="u8603" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u8604" class="ax_default _三级标题">
              <div id="u8604_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u8605" class="text" style="visibility: visible;">
                <p><span>店铺信息</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u8606" class="ax_default _三级标题">
              <div id="u8606_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u8607" class="text" style="visibility: visible;">
                <p><span>员工管理</span></p>
              </div>
            </div>

            <!-- Unnamed (组合) -->
            <div id="u8608" class="ax_default">

              <!-- Unnamed (矩形) -->
              <div id="u8609" class="ax_default _三级标题">
                <div id="u8609_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u8610" class="text" style="visibility: visible;">
                  <p><span>店铺管理</span></p>
                </div>
              </div>

              <!-- Unnamed (形状) -->
              <div id="u8611" class="ax_default icon">
                <img id="u8611_img" class="img " src="images/首页-店铺/u161.png"/>
                <!-- Unnamed () -->
                <div id="u8612" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u8613" class="ax_default _三级标题">
              <div id="u8613_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u8614" class="text" style="visibility: visible;">
                <p><span>菜品管理</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u8615" class="ax_default _三级标题">
              <div id="u8615_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u8616" class="text" style="visibility: visible;">
                <p><span>客户管理</span></p>
              </div>
            </div>

            <!-- Unnamed (占位符) -->
            <div id="u8617" class="ax_default placeholder">
              <img id="u8617_img" class="img " src="images/首页-店铺/u167.png"/>
              <!-- Unnamed () -->
              <div id="u8618" class="text" style="visibility: visible;">
                <p><span>logo赛领点餐系统平台</span></p>
              </div>
            </div>

            <!-- Unnamed (热区) -->
            <div id="u8619" class="ax_default">
            </div>

            <!-- Unnamed (下拉列表框) -->
            <div id="u8620" class="ax_default droplist">
              <select id="u8620_input">
                <option selected value="     店铺名称1">&nbsp;&nbsp; &nbsp; 店铺名称1</option>
              </select>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u8621" class="ax_default box_2">
              <div id="u8621_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u8622" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u8623" class="ax_default _三级标题">
              <div id="u8623_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u8624" class="text" style="visibility: visible;">
                <p><span>餐桌管理</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u8625" class="ax_default _三级标题">
              <div id="u8625_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u8626" class="text" style="visibility: visible;">
                <p><span>订单报表</span></p>
              </div>
            </div>

            <!-- Unnamed (组合) -->
            <div id="u8627" class="ax_default">

              <!-- Unnamed (矩形) -->
              <div id="u8628" class="ax_default _三级标题">
                <div id="u8628_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u8629" class="text" style="visibility: visible;">
                  <p><span>统计报表</span></p>
                </div>
              </div>

              <!-- Unnamed (形状) -->
              <div id="u8630" class="ax_default icon">
                <img id="u8630_img" class="img " src="images/首页-店铺/u161.png"/>
                <!-- Unnamed () -->
                <div id="u8631" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u8632" class="ax_default _三级标题">
              <div id="u8632_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u8633" class="text" style="visibility: visible;">
                <p><span>预订报表</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u8634" class="ax_default _三级标题">
              <div id="u8634_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u8635" class="text" style="visibility: visible;">
                <p><span>打印机管理</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u8636" class="ax_default _三级标题">
              <div id="u8636_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u8637" class="text" style="visibility: visible;">
                <p><span>收银设置</span></p>
              </div>
            </div>

            <!-- Unnamed (组合) -->
            <div id="u8638" class="ax_default">

              <!-- Unnamed (矩形) -->
              <div id="u8639" class="ax_default _三级标题">
                <div id="u8639_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u8640" class="text" style="visibility: visible;">
                  <p><span>消息中心</span></p>
                </div>
              </div>

              <!-- Unnamed (形状) -->
              <div id="u8641" class="ax_default icon">
                <img id="u8641_img" class="img " src="images/首页-店铺/u161.png"/>
                <!-- Unnamed () -->
                <div id="u8642" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u8643" class="ax_default _三级标题">
              <div id="u8643_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u8644" class="text" style="visibility: visible;">
                <p><span>账单流水</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u8645" class="ax_default _三级标题">
              <div id="u8645_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u8646" class="text" style="visibility: visible;">
                <p><span>系统公告</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u8647" class="ax_default _三级标题">
              <div id="u8647_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u8648" class="text" style="visibility: visible;">
                <p><span>群发消息</span></p>
              </div>
            </div>

            <!-- Unnamed (热区) -->
            <div id="u8649" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u8650" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u8651" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u8652" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u8653" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u8654" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u8655" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u8656" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u8657" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u8658" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u8659" class="ax_default">
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u8660" class="ax_default label">
              <div id="u8660_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u8661" class="text" style="visibility: visible;">
                <p><span>店铺名称</span></p>
              </div>
            </div>

            <!-- Unnamed (热区) -->
            <div id="u8662" class="ax_default">
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (主横幅Banner) -->

      <!-- Unnamed (图片) -->
      <div id="u8664" class="ax_default image">
        <img id="u8664_img" class="img " src="images/首页-店铺/u214.png"/>
        <!-- Unnamed () -->
        <div id="u8665" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (椭圆形) -->
      <div id="u8666" class="ax_default ellipse">
        <img id="u8666_img" class="img " src="images/首页-店铺/u216.png"/>
        <!-- Unnamed () -->
        <div id="u8667" class="text" style="visibility: visible;">
          <p><span>X</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8668" class="ax_default box_2">
        <div id="u8668_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8669" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8670" class="ax_default box_1">
        <div id="u8670_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8671" class="text" style="visibility: visible;">
          <p><span>返回</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8672" class="ax_default box_1">
        <div id="u8672_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8673" class="text" style="visibility: visible;">
          <p><span>发送</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8674" class="ax_default label">
        <div id="u8674_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8675" class="text" style="visibility: visible;">
          <p><span>今日还可群发：5 条</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8676" class="ax_default box_1">
        <div id="u8676_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8677" class="text" style="visibility: visible;">
          <p><span>存草稿</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8678" class="ax_default box_1">
        <div id="u8678_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8679" class="text" style="visibility: visible;">
          <p><span>草稿箱(99+)</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8680" class="ax_default label">
        <div id="u8680_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8681" class="text" style="visibility: visible;">
          <p><span>消息标题</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8682" class="ax_default label">
        <div id="u8682_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8683" class="text" style="visibility: visible;">
          <p><span>消息正文</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u8684" class="ax_default text_field">
        <input id="u8684_input" type="text" value=""/>
      </div>

      <!-- Unnamed (多行文本框) -->
      <div id="u8685" class="ax_default text_area">
        <textarea id="u8685_input">










富文本编辑器</textarea>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8686" class="ax_default label">
        <div id="u8686_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8687" class="text" style="visibility: visible;">
          <p><span>发送时间</span></p>
        </div>
      </div>

      <!-- Unnamed (下拉列表框) -->
      <div id="u8688" class="ax_default droplist">
        <select id="u8688_input">
          <option selected value="立即发送">立即发送</option>
          <option value="定时发送">定时发送</option>
        </select>
      </div>

      <!-- 选择发送时间-时间选择控件 (动态面板) -->
      <div id="u8689" class="ax_default ax_default_hidden" data-label="选择发送时间-时间选择控件" style="display: none; visibility: hidden">
        <div id="u8689_state0" class="panel_state" data-label="选择发送时间-时间选择控件">
          <div id="u8689_state0_content" class="panel_state_content">

            <!-- Unnamed (矩形) -->
            <div id="u8690" class="ax_default label">
              <div id="u8690_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u8691" class="text" style="visibility: visible;">
                <p><span>选择发送时间</span></p>
              </div>
            </div>

            <!-- Unnamed (下拉列表框) -->
            <div id="u8692" class="ax_default droplist">
              <select id="u8692_input">
                <option value="时间选择控件（年月日时分秒）">时间选择控件（年月日时分秒）</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
