<!DOCTYPE html>
<html>
  <head>
    <title>标签编辑模板（模态窗）</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/标签编辑模板（模态窗）/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/ie.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="files/标签编辑模板（模态窗）/data.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (占位符) -->
      <div id="u11310" class="ax_default placeholder">
        <img id="u11310_img" class="img " src="images/店铺设置（模态窗）/u2265.png"/>
        <!-- Unnamed () -->
        <div id="u11311" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u11312" class="ax_default box_1">
        <div id="u11312_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u11313" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (标签-系统推荐) -->

      <!-- Unnamed (动态面板) -->
      <div id="u11315" class="ax_default">
        <div id="u11315_state0" class="panel_state" data-label="正常状态">
          <div id="u11315_state0_content" class="panel_state_content">

            <!-- Unnamed (矩形) -->
            <div id="u11316" class="ax_default box_2">
              <div id="u11316_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u11317" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u11318" class="ax_default box_1">
              <div id="u11318_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u11319" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (水平线) -->
            <div id="u11320" class="ax_default line">
              <img id="u11320_img" class="img " src="images/店铺设置（模态窗）/u2275.png"/>
              <!-- Unnamed () -->
              <div id="u11321" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u11322" class="ax_default label">
              <div id="u11322_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u11323" class="text" style="visibility: visible;">
                <p><span>编辑xx标签</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u11324" class="ax_default label">
              <div id="u11324_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u11325" class="text" style="visibility: visible;">
                <p><span>请选择标签（单/多选）</span></p>
              </div>
            </div>

            <!-- Unnamed (标签编辑系统-标签选项) -->

            <!-- 标签选项 (动态面板) -->
            <div id="u11327" class="ax_default" data-label="标签选项">
              <div id="u11327_state0" class="panel_state" data-label="未选中">
                <div id="u11327_state0_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u11328" class="ax_default button">
                    <div id="u11328_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u11329" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="u11327_state1" class="panel_state" data-label="已选中">
                <div id="u11327_state1_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u11330" class="ax_default button">
                    <div id="u11330_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u11331" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="u11327_state2" class="panel_state" data-label="删除操作">
                <div id="u11327_state2_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u11332" class="ax_default button">
                    <div id="u11332_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u11333" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (椭圆形) -->
                  <div id="u11334" class="ax_default ellipse">
                    <img id="u11334_img" class="img " src="images/店铺设置（模态窗）/u2289.png"/>
                    <!-- Unnamed () -->
                    <div id="u11335" class="text" style="visibility: visible;">
                      <p><span>X</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- 删除后需隐藏区域 (动态面板) -->
            <div id="u11336" class="ax_default" data-label="删除后需隐藏区域">
              <div id="u11336_state0" class="panel_state" data-label="State1">
                <div id="u11336_state0_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u11337" class="ax_default primary_button">
                    <div id="u11337_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u11338" class="text" style="visibility: visible;">
                      <p><span>取消</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (矩形) -->
                  <div id="u11339" class="ax_default primary_button">
                    <div id="u11339_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u11340" class="text" style="visibility: visible;">
                      <p><span>添加</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (文本框) -->
                  <div id="u11341" class="ax_default text_field">
                    <input id="u11341_input" type="text" value=""/>
                  </div>

                  <!-- Unnamed (矩形) -->
                  <div id="u11342" class="ax_default primary_button">
                    <div id="u11342_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u11343" class="text" style="visibility: visible;">
                      <p><span>确定</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (矩形) -->
                  <div id="u11344" class="ax_default box_3">
                    <div id="u11344_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u11345" class="text" style="visibility: visible;">
                      <p><span>已超过上限xx，请先删除再添加</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Unnamed (标签编辑系统-标签选项) -->

            <!-- 标签选项 (动态面板) -->
            <div id="u11347" class="ax_default" data-label="标签选项">
              <div id="u11347_state0" class="panel_state" data-label="未选中">
                <div id="u11347_state0_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u11348" class="ax_default button">
                    <div id="u11348_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u11349" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="u11347_state1" class="panel_state" data-label="已选中">
                <div id="u11347_state1_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u11350" class="ax_default button">
                    <div id="u11350_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u11351" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="u11347_state2" class="panel_state" data-label="删除操作">
                <div id="u11347_state2_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u11352" class="ax_default button">
                    <div id="u11352_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u11353" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (椭圆形) -->
                  <div id="u11354" class="ax_default ellipse">
                    <img id="u11354_img" class="img " src="images/店铺设置（模态窗）/u2289.png"/>
                    <!-- Unnamed () -->
                    <div id="u11355" class="text" style="visibility: visible;">
                      <p><span>X</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Unnamed (标签编辑系统-标签选项) -->

            <!-- 标签选项 (动态面板) -->
            <div id="u11357" class="ax_default" data-label="标签选项">
              <div id="u11357_state0" class="panel_state" data-label="未选中">
                <div id="u11357_state0_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u11358" class="ax_default button">
                    <div id="u11358_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u11359" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="u11357_state1" class="panel_state" data-label="已选中">
                <div id="u11357_state1_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u11360" class="ax_default button">
                    <div id="u11360_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u11361" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="u11357_state2" class="panel_state" data-label="删除操作">
                <div id="u11357_state2_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u11362" class="ax_default button">
                    <div id="u11362_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u11363" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (椭圆形) -->
                  <div id="u11364" class="ax_default ellipse">
                    <img id="u11364_img" class="img " src="images/店铺设置（模态窗）/u2289.png"/>
                    <!-- Unnamed () -->
                    <div id="u11365" class="text" style="visibility: visible;">
                      <p><span>X</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Unnamed (标签编辑系统-标签选项) -->

            <!-- 标签选项 (动态面板) -->
            <div id="u11367" class="ax_default" data-label="标签选项">
              <div id="u11367_state0" class="panel_state" data-label="未选中">
                <div id="u11367_state0_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u11368" class="ax_default button">
                    <div id="u11368_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u11369" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="u11367_state1" class="panel_state" data-label="已选中">
                <div id="u11367_state1_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u11370" class="ax_default button">
                    <div id="u11370_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u11371" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="u11367_state2" class="panel_state" data-label="删除操作">
                <div id="u11367_state2_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u11372" class="ax_default button">
                    <div id="u11372_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u11373" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (椭圆形) -->
                  <div id="u11374" class="ax_default ellipse">
                    <img id="u11374_img" class="img " src="images/店铺设置（模态窗）/u2289.png"/>
                    <!-- Unnamed () -->
                    <div id="u11375" class="text" style="visibility: visible;">
                      <p><span>X</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Unnamed (标签编辑系统-标签选项) -->

            <!-- 标签选项 (动态面板) -->
            <div id="u11377" class="ax_default" data-label="标签选项">
              <div id="u11377_state0" class="panel_state" data-label="未选中">
                <div id="u11377_state0_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u11378" class="ax_default button">
                    <div id="u11378_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u11379" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="u11377_state1" class="panel_state" data-label="已选中">
                <div id="u11377_state1_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u11380" class="ax_default button">
                    <div id="u11380_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u11381" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="u11377_state2" class="panel_state" data-label="删除操作">
                <div id="u11377_state2_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u11382" class="ax_default button">
                    <div id="u11382_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u11383" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (椭圆形) -->
                  <div id="u11384" class="ax_default ellipse">
                    <img id="u11384_img" class="img " src="images/店铺设置（模态窗）/u2289.png"/>
                    <!-- Unnamed () -->
                    <div id="u11385" class="text" style="visibility: visible;">
                      <p><span>X</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Unnamed (标签编辑系统-标签选项) -->

            <!-- 标签选项 (动态面板) -->
            <div id="u11387" class="ax_default" data-label="标签选项">
              <div id="u11387_state0" class="panel_state" data-label="未选中">
                <div id="u11387_state0_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u11388" class="ax_default button">
                    <div id="u11388_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u11389" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="u11387_state1" class="panel_state" data-label="已选中">
                <div id="u11387_state1_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u11390" class="ax_default button">
                    <div id="u11390_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u11391" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="u11387_state2" class="panel_state" data-label="删除操作">
                <div id="u11387_state2_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u11392" class="ax_default button">
                    <div id="u11392_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u11393" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (椭圆形) -->
                  <div id="u11394" class="ax_default ellipse">
                    <img id="u11394_img" class="img " src="images/店铺设置（模态窗）/u2289.png"/>
                    <!-- Unnamed () -->
                    <div id="u11395" class="text" style="visibility: visible;">
                      <p><span>X</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Unnamed (标签编辑系统-标签选项) -->

            <!-- 标签选项 (动态面板) -->
            <div id="u11397" class="ax_default" data-label="标签选项">
              <div id="u11397_state0" class="panel_state" data-label="未选中">
                <div id="u11397_state0_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u11398" class="ax_default button">
                    <div id="u11398_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u11399" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="u11397_state1" class="panel_state" data-label="已选中">
                <div id="u11397_state1_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u11400" class="ax_default button">
                    <div id="u11400_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u11401" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="u11397_state2" class="panel_state" data-label="删除操作">
                <div id="u11397_state2_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u11402" class="ax_default button">
                    <div id="u11402_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u11403" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (椭圆形) -->
                  <div id="u11404" class="ax_default ellipse">
                    <img id="u11404_img" class="img " src="images/店铺设置（模态窗）/u2289.png"/>
                    <!-- Unnamed () -->
                    <div id="u11405" class="text" style="visibility: visible;">
                      <p><span>X</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Unnamed (标签编辑系统-标签选项) -->

            <!-- 标签选项 (动态面板) -->
            <div id="u11407" class="ax_default" data-label="标签选项">
              <div id="u11407_state0" class="panel_state" data-label="未选中">
                <div id="u11407_state0_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u11408" class="ax_default button">
                    <div id="u11408_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u11409" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="u11407_state1" class="panel_state" data-label="已选中">
                <div id="u11407_state1_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u11410" class="ax_default button">
                    <div id="u11410_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u11411" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="u11407_state2" class="panel_state" data-label="删除操作">
                <div id="u11407_state2_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u11412" class="ax_default button">
                    <div id="u11412_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u11413" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (椭圆形) -->
                  <div id="u11414" class="ax_default ellipse">
                    <img id="u11414_img" class="img " src="images/店铺设置（模态窗）/u2289.png"/>
                    <!-- Unnamed () -->
                    <div id="u11415" class="text" style="visibility: visible;">
                      <p><span>X</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Unnamed (标签编辑系统-标签选项) -->

            <!-- 标签选项 (动态面板) -->
            <div id="u11417" class="ax_default" data-label="标签选项">
              <div id="u11417_state0" class="panel_state" data-label="未选中">
                <div id="u11417_state0_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u11418" class="ax_default button">
                    <div id="u11418_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u11419" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="u11417_state1" class="panel_state" data-label="已选中">
                <div id="u11417_state1_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u11420" class="ax_default button">
                    <div id="u11420_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u11421" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="u11417_state2" class="panel_state" data-label="删除操作">
                <div id="u11417_state2_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u11422" class="ax_default button">
                    <div id="u11422_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u11423" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (椭圆形) -->
                  <div id="u11424" class="ax_default ellipse">
                    <img id="u11424_img" class="img " src="images/店铺设置（模态窗）/u2289.png"/>
                    <!-- Unnamed () -->
                    <div id="u11425" class="text" style="visibility: visible;">
                      <p><span>X</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Unnamed (标签编辑系统-标签选项) -->

            <!-- 标签选项 (动态面板) -->
            <div id="u11427" class="ax_default" data-label="标签选项">
              <div id="u11427_state0" class="panel_state" data-label="未选中">
                <div id="u11427_state0_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u11428" class="ax_default button">
                    <div id="u11428_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u11429" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="u11427_state1" class="panel_state" data-label="已选中">
                <div id="u11427_state1_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u11430" class="ax_default button">
                    <div id="u11430_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u11431" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="u11427_state2" class="panel_state" data-label="删除操作">
                <div id="u11427_state2_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u11432" class="ax_default button">
                    <div id="u11432_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u11433" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (椭圆形) -->
                  <div id="u11434" class="ax_default ellipse">
                    <img id="u11434_img" class="img " src="images/店铺设置（模态窗）/u2289.png"/>
                    <!-- Unnamed () -->
                    <div id="u11435" class="text" style="visibility: visible;">
                      <p><span>X</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- the one (标签编辑系统-标签选项) -->

            <!-- 标签选项 (动态面板) -->
            <div id="u11437" class="ax_default ax_default_hidden" data-label="标签选项">
              <div id="u11437_state0" class="panel_state" data-label="未选中">
                <div id="u11437_state0_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u11438" class="ax_default button">
                    <div id="u11438_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u11439" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="u11437_state1" class="panel_state" data-label="已选中">
                <div id="u11437_state1_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u11440" class="ax_default button">
                    <div id="u11440_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u11441" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="u11437_state2" class="panel_state" data-label="删除操作">
                <div id="u11437_state2_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u11442" class="ax_default button">
                    <div id="u11442_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u11443" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (椭圆形) -->
                  <div id="u11444" class="ax_default ellipse">
                    <img id="u11444_img" class="img " src="images/店铺设置（模态窗）/u2289.png"/>
                    <!-- Unnamed () -->
                    <div id="u11445" class="text" style="visibility: visible;">
                      <p><span>X</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- 删除按钮 (动态面板) -->
            <div id="u11446" class="ax_default" data-label="删除按钮">
              <div id="u11446_state0" class="panel_state" data-label="删除">
                <div id="u11446_state0_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u11447" class="ax_default label">
                    <div id="u11447_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u11448" class="text" style="visibility: visible;">
                      <p><span>删除</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (热区) -->
                  <div id="u11449" class="ax_default">
                  </div>
                </div>
              </div>
              <div id="u11446_state1" class="panel_state" data-label="确定、取消">
                <div id="u11446_state1_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u11450" class="ax_default label">
                    <div id="u11450_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u11451" class="text" style="visibility: visible;">
                      <p><span>确定&nbsp;&nbsp; 取消</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (热区) -->
                  <div id="u11452" class="ax_default">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="u11315_state1" class="panel_state" data-label="删除标签">
          <div id="u11315_state1_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- Unnamed (热区) -->
      <div id="u11453" class="ax_default">
      </div>
    </div>
  </body>
</html>
