<!DOCTYPE html>
<html>
  <head>
    <title>绑定/解绑邮箱（模态窗）</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/绑定_解绑邮箱（模态窗）/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/ie.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="files/绑定_解绑邮箱（模态窗）/data.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (矩形) -->
      <div id="u1899" class="ax_default box_1">
        <div id="u1899_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1900" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1901" class="ax_default box_1">
        <div id="u1901_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1902" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1903" class="ax_default label">
        <div id="u1903_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1904" class="text" style="visibility: visible;">
          <p><span>邮箱</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u1905" class="ax_default text_field">
        <input id="u1905_input" type="text" value="输入需要绑定的邮箱"/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1906" class="ax_default box_1">
        <div id="u1906_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1907" class="text" style="visibility: visible;">
          <p><span>绑定</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1908" class="ax_default box_1">
        <div id="u1908_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1909" class="text" style="visibility: visible;">
          <p><span>取消</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1910" class="ax_default box_1">
        <div id="u1910_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1911" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1912" class="ax_default label">
        <div id="u1912_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1913" class="text" style="visibility: visible;">
          <p><span>我们已向邮箱：xxx@yy.com发送一封确认邮件，请进入您的邮箱点击邮件里的链接完成下一步。</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1914" class="ax_default label">
        <div id="u1914_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1915" class="text" style="visibility: visible;">
          <p><span>01 输入需要绑定的邮箱</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1916" class="ax_default label">
        <div id="u1916_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1917" class="text" style="visibility: visible;">
          <p><span>02 绑定/解绑操作提示</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1918" class="ax_default box_1">
        <div id="u1918_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1919" class="text" style="visibility: visible;">
          <p><span>关闭</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1920" class="ax_default box_1">
        <div id="u1920_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1921" class="text" style="visibility: visible;">
          <p><span>登录邮箱</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1922" class="ax_default label">
        <div id="u1922_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1923" class="text" style="visibility: visible;">
          <p><span>02.01 点击“登录邮箱”按钮，新页面跳转至对应的邮箱登录页（数据库配置几种常见的对应关系即可）</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1924" class="ax_default box_1">
        <div id="u1924_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1925" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1926" class="ax_default label">
        <div id="u1926_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1927" class="text" style="visibility: visible;">
          <p><span>邮箱</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1928" class="ax_default box_1">
        <div id="u1928_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1929" class="text" style="visibility: visible;">
          <p><span>解绑</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1930" class="ax_default box_1">
        <div id="u1930_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1931" class="text" style="visibility: visible;">
          <p><span>取消</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1932" class="ax_default label">
        <div id="u1932_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1933" class="text" style="visibility: visible;">
          <p><span>xxxxx1234567@yy.com</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1934" class="ax_default label">
        <div id="u1934_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1935" class="text" style="visibility: visible;">
          <p><span>03 解绑操作</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1936" class="ax_default box_3">
        <div id="u1936_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1937" class="text" style="visibility: visible;">
          <p><span>绑定邮箱</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1938" class="ax_default box_3">
        <div id="u1938_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1939" class="text" style="visibility: visible;">
          <p><span>绑定邮箱</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1940" class="ax_default box_3">
        <div id="u1940_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1941" class="text" style="visibility: visible;">
          <p><span>解绑邮箱</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1942" class="ax_default label">
        <div id="u1942_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1943" class="text" style="visibility: visible;">
          <p><span>xxx@yy.com 已绑定/解绑成功！</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1944" class="ax_default box_1">
        <div id="u1944_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1945" class="text" style="visibility: visible;">
          <p><span>关闭</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1946" class="ax_default box_3">
        <div id="u1946_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1947" class="text" style="visibility: visible;">
          <p><span>绑定邮箱</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1948" class="ax_default label">
        <div id="u1948_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1949" class="text" style="visibility: visible;">
          <p><span>03 点击验证邮件的链接，新页面跳转至该页面</span></p>
        </div>
      </div>
    </div>
  </body>
</html>
