<!DOCTYPE html>
<html>
  <head>
    <title>编辑餐桌</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/编辑餐桌/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/ie.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="files/编辑餐桌/data.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (背景) -->

      <!-- Unnamed (矩形) -->
      <div id="u12972" class="ax_default box_2">
        <div id="u12972_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u12973" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (主标题) -->

      <!-- Unnamed (矩形) -->
      <div id="u12975" class="ax_default box_2">
        <div id="u12975_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u12976" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u12977" class="ax_default">

        <!-- Unnamed (形状) -->
        <div id="u12978" class="ax_default icon">
          <img id="u12978_img" class="img " src="images/首页-店铺/u131.png"/>
          <!-- Unnamed () -->
          <div id="u12979" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u12980" class="ax_default label">
          <div id="u12980_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u12981" class="text" style="visibility: visible;">
            <p><span>admin</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u12982" class="ax_default icon">
        <img id="u12982_img" class="img " src="images/首页-店铺/u135.png"/>
        <!-- Unnamed () -->
        <div id="u12983" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u12984" class="ax_default icon" title="系统消息">
        <img id="u12984_img" class="img " src="images/首页-店铺/u137.png"/>
        <!-- Unnamed () -->
        <div id="u12985" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u12986" class="ax_default icon" title="退出">
        <img id="u12986_img" class="img " src="images/首页-店铺/u139.png"/>
        <!-- Unnamed () -->
        <div id="u12987" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u12988" class="ax_default icon" title="修改密码">
        <img id="u12988_img" class="img " src="images/首页-店铺/u141.png"/>
        <!-- Unnamed () -->
        <div id="u12989" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (侧边主导航) -->

      <!-- Unnamed (动态面板) -->
      <div id="u12991" class="ax_default">
        <div id="u12991_state0" class="panel_state" data-label="State1">
          <div id="u12991_state0_content" class="panel_state_content">

            <!-- Unnamed (矩形) -->
            <div id="u12992" class="ax_default box_2">
              <div id="u12992_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u12993" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (图片) -->
            <div id="u12994" class="ax_default _图片">
              <img id="u12994_img" class="img " src="images/首页-店铺/u147.png"/>
              <!-- Unnamed () -->
              <div id="u12995" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (组合) -->
            <div id="u12996" class="ax_default">

              <!-- Unnamed (矩形) -->
              <div id="u12997" class="ax_default _三级标题">
                <div id="u12997_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u12998" class="text" style="visibility: visible;">
                  <p><span>首页</span></p>
                </div>
              </div>

              <!-- Unnamed (形状) -->
              <div id="u12999" class="ax_default icon">
                <img id="u12999_img" class="img " src="images/首页-店铺/u152.png"/>
                <!-- Unnamed () -->
                <div id="u13000" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u13001" class="ax_default _三级标题">
              <div id="u13001_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u13002" class="text" style="visibility: visible;">
                <p><span>店铺信息</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u13003" class="ax_default _三级标题">
              <div id="u13003_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u13004" class="text" style="visibility: visible;">
                <p><span>员工管理</span></p>
              </div>
            </div>

            <!-- Unnamed (组合) -->
            <div id="u13005" class="ax_default">

              <!-- Unnamed (矩形) -->
              <div id="u13006" class="ax_default _三级标题">
                <div id="u13006_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u13007" class="text" style="visibility: visible;">
                  <p><span>店铺管理</span></p>
                </div>
              </div>

              <!-- Unnamed (形状) -->
              <div id="u13008" class="ax_default icon">
                <img id="u13008_img" class="img " src="images/首页-店铺/u161.png"/>
                <!-- Unnamed () -->
                <div id="u13009" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u13010" class="ax_default _三级标题">
              <div id="u13010_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u13011" class="text" style="visibility: visible;">
                <p><span>菜品管理</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u13012" class="ax_default _三级标题">
              <div id="u13012_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u13013" class="text" style="visibility: visible;">
                <p><span>客户管理</span></p>
              </div>
            </div>

            <!-- Unnamed (占位符) -->
            <div id="u13014" class="ax_default placeholder">
              <img id="u13014_img" class="img " src="images/首页-店铺/u167.png"/>
              <!-- Unnamed () -->
              <div id="u13015" class="text" style="visibility: visible;">
                <p><span>logo赛领点餐系统平台</span></p>
              </div>
            </div>

            <!-- Unnamed (热区) -->
            <div id="u13016" class="ax_default">
            </div>

            <!-- Unnamed (下拉列表框) -->
            <div id="u13017" class="ax_default droplist">
              <select id="u13017_input">
                <option selected value="     店铺名称1">&nbsp;&nbsp; &nbsp; 店铺名称1</option>
              </select>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u13018" class="ax_default box_2">
              <div id="u13018_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u13019" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u13020" class="ax_default _三级标题">
              <div id="u13020_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u13021" class="text" style="visibility: visible;">
                <p><span>餐桌管理</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u13022" class="ax_default _三级标题">
              <div id="u13022_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u13023" class="text" style="visibility: visible;">
                <p><span>订单报表</span></p>
              </div>
            </div>

            <!-- Unnamed (组合) -->
            <div id="u13024" class="ax_default">

              <!-- Unnamed (矩形) -->
              <div id="u13025" class="ax_default _三级标题">
                <div id="u13025_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u13026" class="text" style="visibility: visible;">
                  <p><span>统计报表</span></p>
                </div>
              </div>

              <!-- Unnamed (形状) -->
              <div id="u13027" class="ax_default icon">
                <img id="u13027_img" class="img " src="images/首页-店铺/u161.png"/>
                <!-- Unnamed () -->
                <div id="u13028" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u13029" class="ax_default _三级标题">
              <div id="u13029_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u13030" class="text" style="visibility: visible;">
                <p><span>预订报表</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u13031" class="ax_default _三级标题">
              <div id="u13031_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u13032" class="text" style="visibility: visible;">
                <p><span>打印机管理</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u13033" class="ax_default _三级标题">
              <div id="u13033_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u13034" class="text" style="visibility: visible;">
                <p><span>收银设置</span></p>
              </div>
            </div>

            <!-- Unnamed (组合) -->
            <div id="u13035" class="ax_default">

              <!-- Unnamed (矩形) -->
              <div id="u13036" class="ax_default _三级标题">
                <div id="u13036_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u13037" class="text" style="visibility: visible;">
                  <p><span>消息中心</span></p>
                </div>
              </div>

              <!-- Unnamed (形状) -->
              <div id="u13038" class="ax_default icon">
                <img id="u13038_img" class="img " src="images/首页-店铺/u161.png"/>
                <!-- Unnamed () -->
                <div id="u13039" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u13040" class="ax_default _三级标题">
              <div id="u13040_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u13041" class="text" style="visibility: visible;">
                <p><span>账单流水</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u13042" class="ax_default _三级标题">
              <div id="u13042_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u13043" class="text" style="visibility: visible;">
                <p><span>系统公告</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u13044" class="ax_default _三级标题">
              <div id="u13044_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u13045" class="text" style="visibility: visible;">
                <p><span>群发消息</span></p>
              </div>
            </div>

            <!-- Unnamed (热区) -->
            <div id="u13046" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u13047" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u13048" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u13049" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u13050" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u13051" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u13052" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u13053" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u13054" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u13055" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u13056" class="ax_default">
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u13057" class="ax_default label">
              <div id="u13057_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u13058" class="text" style="visibility: visible;">
                <p><span>店铺名称</span></p>
              </div>
            </div>

            <!-- Unnamed (热区) -->
            <div id="u13059" class="ax_default">
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (主横幅Banner) -->

      <!-- Unnamed (图片) -->
      <div id="u13061" class="ax_default image">
        <img id="u13061_img" class="img " src="images/首页-店铺/u214.png"/>
        <!-- Unnamed () -->
        <div id="u13062" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (椭圆形) -->
      <div id="u13063" class="ax_default ellipse">
        <img id="u13063_img" class="img " src="images/首页-店铺/u216.png"/>
        <!-- Unnamed () -->
        <div id="u13064" class="text" style="visibility: visible;">
          <p><span>X</span></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u13065" class="ax_default">

        <!-- Unnamed (组合) -->
        <div id="u13066" class="ax_default">

          <!-- Unnamed (形状) -->
          <div id="u13067" class="ax_default icon">
            <img id="u13067_img" class="img " src="images/餐桌管理/u2875.png"/>
            <!-- Unnamed () -->
            <div id="u13068" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u13069" class="ax_default label">
            <div id="u13069_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u13070" class="text" style="visibility: visible;">
              <p><span>系统消息通知系统消息通知滚（滚动）</span></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u13071" class="ax_default box_1">
        <img id="u13071_img" class="img " src="images/编辑餐桌/u13071.png"/>
        <!-- Unnamed () -->
        <div id="u13072" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u13073" class="ax_default _一级标题">
        <div id="u13073_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u13074" class="text" style="visibility: visible;">
          <p><span>餐桌管理&nbsp; &gt;&nbsp; </span><span style="color:#0099CC;">编辑餐桌信息</span></p>
        </div>
      </div>

      <!-- Unnamed (动态面板) -->
      <div id="u13075" class="ax_default">
        <div id="u13075_state0" class="panel_state" data-label="State1">
          <div id="u13075_state0_content" class="panel_state_content">

            <!-- Unnamed (矩形) -->
            <div id="u13076" class="ax_default box_2">
              <div id="u13076_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u13077" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u13078" class="ax_default label">
              <div id="u13078_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u13079" class="text" style="visibility: visible;">
                <p><span>餐桌区域：</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u13080" class="ax_default label">
              <div id="u13080_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u13081" class="text" style="visibility: visible;">
                <p><span>餐桌台号（名称）：</span></p>
              </div>
            </div>

            <!-- Unnamed (组合) -->
            <div id="u13082" class="ax_default">

              <!-- Unnamed (组合) -->
              <div id="u13083" class="ax_default">

                <!-- Unnamed (矩形) -->
                <div id="u13084" class="ax_default box_2">
                  <div id="u13084_div" class=""></div>
                  <!-- Unnamed () -->
                  <div id="u13085" class="text" style="display: none; visibility: hidden">
                    <p><span></span></p>
                  </div>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u13086" class="ax_default label">
                <div id="u13086_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u13087" class="text" style="visibility: visible;">
                  <p><span>例如：C001</span></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u13088" class="ax_default label">
              <div id="u13088_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u13089" class="text" style="visibility: visible;">
                <p><span>餐桌编号：</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u13090" class="ax_default label">
              <div id="u13090_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u13091" class="text" style="visibility: visible;">
                <p><span>12334</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u13092" class="ax_default label">
              <div id="u13092_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u13093" class="text" style="visibility: visible;">
                <p><span>二维码：</span></p>
              </div>
            </div>

            <!-- Unnamed (图片) -->
            <div id="u13094" class="ax_default _图片">
              <img id="u13094_img" class="img " src="images/公众号设置（模态窗）/u2420.png"/>
              <!-- Unnamed () -->
              <div id="u13095" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u13096" class="ax_default box_2">
              <div id="u13096_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u13097" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u13098" class="ax_default label">
              <div id="u13098_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u13099" class="text" style="visibility: visible;">
                <p><span>基础设置</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u13100" class="ax_default button">
              <div id="u13100_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u13101" class="text" style="visibility: visible;">
                <p><span>大厅</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u13102" class="ax_default label">
              <div id="u13102_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u13103" class="text" style="visibility: visible;">
                <p><span>可供就餐人数：</span></p>
              </div>
            </div>

            <!-- Unnamed (组合) -->
            <div id="u13104" class="ax_default">

              <!-- Unnamed (组合) -->
              <div id="u13105" class="ax_default">

                <!-- Unnamed (矩形) -->
                <div id="u13106" class="ax_default box_2">
                  <div id="u13106_div" class=""></div>
                  <!-- Unnamed () -->
                  <div id="u13107" class="text" style="display: none; visibility: hidden">
                    <p><span></span></p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u13108" class="ax_default label">
              <div id="u13108_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u13109" class="text" style="visibility: visible;">
                <p><span>桌型：</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u13110" class="ax_default button">
              <div id="u13110_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u13111" class="text" style="visibility: visible;">
                <p><span>方桌</span></p>
              </div>
            </div>

            <!-- Unnamed (组合) -->
            <div id="u13112" class="ax_default ax_default_hidden" style="display: none; visibility: hidden">

              <!-- Unnamed (组合) -->
              <div id="u13113" class="ax_default">

                <!-- Unnamed (矩形) -->
                <div id="u13114" class="ax_default box_2">
                  <div id="u13114_div" class=""></div>
                  <!-- Unnamed () -->
                  <div id="u13115" class="text" style="display: none; visibility: hidden">
                    <p><span></span></p>
                  </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u13116" class="ax_default label">
                  <div id="u13116_div" class=""></div>
                  <!-- Unnamed () -->
                  <div id="u13117" class="text" style="visibility: visible;">
                    <p><span>高级设置</span></p>
                  </div>
                </div>

                <!-- Unnamed (形状) -->
                <div id="u13118" class="ax_default icon">
                  <img id="u13118_img" class="img " src="images/新建餐桌/u3185.png"/>
                  <!-- Unnamed () -->
                  <div id="u13119" class="text" style="display: none; visibility: hidden">
                    <p><span></span></p>
                  </div>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u13120" class="ax_default label">
                <div id="u13120_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u13121" class="text" style="visibility: visible;">
                  <p><span>点餐员：</span></p>
                </div>
              </div>

              <!-- Unnamed (组合) -->
              <div id="u13122" class="ax_default">

                <!-- Unnamed (组合) -->
                <div id="u13123" class="ax_default">

                  <!-- Unnamed (矩形) -->
                  <div id="u13124" class="ax_default box_2">
                    <div id="u13124_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u13125" class="text" style="display: none; visibility: hidden">
                      <p><span></span></p>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u13126" class="ax_default label">
                <div id="u13126_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u13127" class="text" style="visibility: visible;">
                  <p><span>传菜员：</span></p>
                </div>
              </div>

              <!-- Unnamed (组合) -->
              <div id="u13128" class="ax_default">

                <!-- Unnamed (组合) -->
                <div id="u13129" class="ax_default">

                  <!-- Unnamed (矩形) -->
                  <div id="u13130" class="ax_default box_2">
                    <div id="u13130_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u13131" class="text" style="display: none; visibility: hidden">
                      <p><span></span></p>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u13132" class="ax_default label">
                <div id="u13132_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u13133" class="text" style="visibility: visible;">
                  <p><span>清洁员：</span></p>
                </div>
              </div>

              <!-- Unnamed (组合) -->
              <div id="u13134" class="ax_default">

                <!-- Unnamed (组合) -->
                <div id="u13135" class="ax_default">

                  <!-- Unnamed (矩形) -->
                  <div id="u13136" class="ax_default box_2">
                    <div id="u13136_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u13137" class="text" style="display: none; visibility: hidden">
                      <p><span></span></p>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u13138" class="ax_default label">
                <div id="u13138_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u13139" class="text" style="visibility: visible;">
                  <p><span>前厅经理：</span></p>
                </div>
              </div>

              <!-- Unnamed (组合) -->
              <div id="u13140" class="ax_default">

                <!-- Unnamed (组合) -->
                <div id="u13141" class="ax_default">

                  <!-- Unnamed (矩形) -->
                  <div id="u13142" class="ax_default box_2">
                    <div id="u13142_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u13143" class="text" style="display: none; visibility: hidden">
                      <p><span></span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u13144" class="ax_default label">
              <div id="u13144_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u13145" class="text" style="visibility: visible;">
                <p><span>最低消费：</span></p>
              </div>
            </div>

            <!-- Unnamed (组合) -->
            <div id="u13146" class="ax_default ax_default_hidden" style="display: none; visibility: hidden">

              <!-- Unnamed (矩形) -->
              <div id="u13147" class="ax_default label">
                <div id="u13147_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u13148" class="text" style="visibility: visible;">
                  <p><span>预付款比例：</span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u13149" class="ax_default label">
                <div id="u13149_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u13150" class="text" style="visibility: visible;">
                  <p><span>注：预订且点菜时需要预付的百分比%，随点菜的金额自动调整</span></p>
                </div>
              </div>

              <!-- Unnamed (组合) -->
              <div id="u13151" class="ax_default">

                <!-- Unnamed (矩形) -->
                <div id="u13152" class="ax_default box_1">
                  <div id="u13152_div" class=""></div>
                  <!-- Unnamed () -->
                  <div id="u13153" class="text" style="display: none; visibility: hidden">
                    <p><span></span></p>
                  </div>
                </div>

                <!-- Unnamed (形状) -->
                <div id="u13154" class="ax_default box_1">
                  <img id="u13154_img" class="img " src="images/新建餐桌/u3221.png"/>
                  <!-- Unnamed () -->
                  <div id="u13155" class="text" style="display: none; visibility: hidden">
                    <p><span></span></p>
                  </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u13156" class="ax_default label">
                  <div id="u13156_div" class=""></div>
                  <!-- Unnamed () -->
                  <div id="u13157" class="text" style="visibility: visible;">
                    <p><span>%</span></p>
                  </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u13158" class="ax_default label">
                  <div id="u13158_div" class=""></div>
                  <!-- Unnamed () -->
                  <div id="u13159" class="text" style="visibility: visible;">
                    <p><span>0.0</span></p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Unnamed (组合) -->
            <div id="u13160" class="ax_default ax_default_hidden" style="display: none; visibility: hidden">

              <!-- Unnamed (矩形) -->
              <div id="u13161" class="ax_default label">
                <div id="u13161_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u13162" class="text" style="visibility: visible;">
                  <p><span>预定预付款：</span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u13163" class="ax_default label">
                <div id="u13163_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u13164" class="text" style="visibility: visible;">
                  <p><span>注：仅预订订座时需要预付的金额</span></p>
                </div>
              </div>

              <!-- Unnamed (组合) -->
              <div id="u13165" class="ax_default">

                <!-- Unnamed (矩形) -->
                <div id="u13166" class="ax_default box_1">
                  <div id="u13166_div" class=""></div>
                  <!-- Unnamed () -->
                  <div id="u13167" class="text" style="display: none; visibility: hidden">
                    <p><span></span></p>
                  </div>
                </div>

                <!-- Unnamed (形状) -->
                <div id="u13168" class="ax_default box_1">
                  <img id="u13168_img" class="img " src="images/新建餐桌/u3221.png"/>
                  <!-- Unnamed () -->
                  <div id="u13169" class="text" style="display: none; visibility: hidden">
                    <p><span></span></p>
                  </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u13170" class="ax_default label">
                  <div id="u13170_div" class=""></div>
                  <!-- Unnamed () -->
                  <div id="u13171" class="text" style="visibility: visible;">
                    <p><span>元</span></p>
                  </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u13172" class="ax_default label">
                  <div id="u13172_div" class=""></div>
                  <!-- Unnamed () -->
                  <div id="u13173" class="text" style="visibility: visible;">
                    <p><span>0.0</span></p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u13174" class="ax_default label">
              <div id="u13174_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u13175" class="text" style="visibility: visible;">
                <p><span>餐桌类型：</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u13176" class="ax_default button">
              <div id="u13176_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u13177" class="text" style="visibility: visible;">
                <p><span>+ 编辑</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u13178" class="ax_default button">
              <div id="u13178_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u13179" class="text" style="visibility: visible;">
                <p><span>散座</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u13180" class="ax_default button">
              <div id="u13180_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u13181" class="text" style="visibility: visible;">
                <p><span>+ 编辑</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u13182" class="ax_default primary_button ax_default_hidden" style="display: none; visibility: hidden">
              <div id="u13182_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u13183" class="text" style="visibility: visible;">
                <p><span>停用此二维码</span></p>
              </div>
            </div>

            <!-- Unnamed (组合) -->
            <div id="u13184" class="ax_default">

              <!-- Unnamed (矩形) -->
              <div id="u13185" class="ax_default box_1">
                <div id="u13185_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u13186" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (形状) -->
              <div id="u13187" class="ax_default box_1">
                <img id="u13187_img" class="img " src="images/新建餐桌/u3221.png"/>
                <!-- Unnamed () -->
                <div id="u13188" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u13189" class="ax_default label">
                <div id="u13189_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u13190" class="text" style="visibility: visible;">
                  <p><span>元</span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u13191" class="ax_default label">
                <div id="u13191_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u13192" class="text" style="visibility: visible;">
                  <p><span>0.00</span></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u13193" class="ax_default button">
              <div id="u13193_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u13194" class="text" style="visibility: visible;">
                <p><span>+ 编辑</span></p>
              </div>
            </div>

            <!-- Unnamed (形状) -->
            <div id="u13195" class="ax_default icon">
              <img id="u13195_img" class="img " src="images/新建餐桌/u3260.png"/>
              <!-- Unnamed () -->
              <div id="u13196" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (形状) -->
            <div id="u13197" class="ax_default icon">
              <img id="u13197_img" class="img " src="images/新建餐桌/u3260.png"/>
              <!-- Unnamed () -->
              <div id="u13198" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (形状) -->
            <div id="u13199" class="ax_default icon">
              <img id="u13199_img" class="img " src="images/新建餐桌/u3260.png"/>
              <!-- Unnamed () -->
              <div id="u13200" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (形状) -->
            <div id="u13201" class="ax_default icon">
              <img id="u13201_img" class="img " src="images/新建餐桌/u3260.png"/>
              <!-- Unnamed () -->
              <div id="u13202" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u13203" class="ax_default label">
              <div id="u13203_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u13204" class="text" style="visibility: visible;">
                <p><span>4</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u13205" class="ax_default label">
              <div id="u13205_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u13206" class="text" style="visibility: visible;">
                <p><span>餐位费结算方式：</span></p>
              </div>
            </div>

            <!-- 餐位费 (动态面板) -->
            <div id="u13207" class="ax_default" data-label="餐位费">
              <div id="u13207_state0" class="panel_state" data-label="无餐位费">
                <div id="u13207_state0_content" class="panel_state_content">
                </div>
              </div>
              <div id="u13207_state1" class="panel_state" data-label="固定餐位费">
                <div id="u13207_state1_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u13208" class="ax_default label">
                    <div id="u13208_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u13209" class="text" style="visibility: visible;">
                      <p><span>餐位费：</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (组合) -->
                  <div id="u13210" class="ax_default">

                    <!-- Unnamed (矩形) -->
                    <div id="u13211" class="ax_default box_1">
                      <div id="u13211_div" class=""></div>
                      <!-- Unnamed () -->
                      <div id="u13212" class="text" style="display: none; visibility: hidden">
                        <p><span></span></p>
                      </div>
                    </div>

                    <!-- Unnamed (形状) -->
                    <div id="u13213" class="ax_default box_1">
                      <img id="u13213_img" class="img " src="images/新建餐桌/u3274.png"/>
                      <!-- Unnamed () -->
                      <div id="u13214" class="text" style="display: none; visibility: hidden">
                        <p><span></span></p>
                      </div>
                    </div>

                    <!-- Unnamed (矩形) -->
                    <div id="u13215" class="ax_default label">
                      <div id="u13215_div" class=""></div>
                      <!-- Unnamed () -->
                      <div id="u13216" class="text" style="visibility: visible;">
                        <p><span>元/桌</span></p>
                      </div>
                    </div>

                    <!-- Unnamed (矩形) -->
                    <div id="u13217" class="ax_default label">
                      <div id="u13217_div" class=""></div>
                      <!-- Unnamed () -->
                      <div id="u13218" class="text" style="visibility: visible;">
                        <p><span>10.00</span></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="u13207_state2" class="panel_state" data-label="按就坐人数">
                <div id="u13207_state2_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u13219" class="ax_default label">
                    <div id="u13219_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u13220" class="text" style="visibility: visible;">
                      <p><span>餐位费：</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (组合) -->
                  <div id="u13221" class="ax_default">

                    <!-- Unnamed (矩形) -->
                    <div id="u13222" class="ax_default box_1">
                      <div id="u13222_div" class=""></div>
                      <!-- Unnamed () -->
                      <div id="u13223" class="text" style="display: none; visibility: hidden">
                        <p><span></span></p>
                      </div>
                    </div>

                    <!-- Unnamed (形状) -->
                    <div id="u13224" class="ax_default box_1">
                      <img id="u13224_img" class="img " src="images/新建餐桌/u3285.png"/>
                      <!-- Unnamed () -->
                      <div id="u13225" class="text" style="display: none; visibility: hidden">
                        <p><span></span></p>
                      </div>
                    </div>

                    <!-- Unnamed (矩形) -->
                    <div id="u13226" class="ax_default label">
                      <div id="u13226_div" class=""></div>
                      <!-- Unnamed () -->
                      <div id="u13227" class="text" style="visibility: visible;">
                        <p><span>元/人</span></p>
                      </div>
                    </div>

                    <!-- Unnamed (矩形) -->
                    <div id="u13228" class="ax_default label">
                      <div id="u13228_div" class=""></div>
                      <!-- Unnamed () -->
                      <div id="u13229" class="text" style="visibility: visible;">
                        <p><span>5.00</span></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="u13207_state3" class="panel_state" data-label="按订单金额百分比">
                <div id="u13207_state3_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u13230" class="ax_default label">
                    <div id="u13230_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u13231" class="text" style="visibility: visible;">
                      <p><span>餐位费：</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (组合) -->
                  <div id="u13232" class="ax_default">

                    <!-- Unnamed (矩形) -->
                    <div id="u13233" class="ax_default box_1">
                      <div id="u13233_div" class=""></div>
                      <!-- Unnamed () -->
                      <div id="u13234" class="text" style="display: none; visibility: hidden">
                        <p><span></span></p>
                      </div>
                    </div>

                    <!-- Unnamed (形状) -->
                    <div id="u13235" class="ax_default box_1">
                      <img id="u13235_img" class="img " src="images/新建餐桌/u3221.png"/>
                      <!-- Unnamed () -->
                      <div id="u13236" class="text" style="display: none; visibility: hidden">
                        <p><span></span></p>
                      </div>
                    </div>

                    <!-- Unnamed (矩形) -->
                    <div id="u13237" class="ax_default label">
                      <div id="u13237_div" class=""></div>
                      <!-- Unnamed () -->
                      <div id="u13238" class="text" style="visibility: visible;">
                        <p><span>%</span></p>
                      </div>
                    </div>

                    <!-- Unnamed (矩形) -->
                    <div id="u13239" class="ax_default label">
                      <div id="u13239_div" class=""></div>
                      <!-- Unnamed () -->
                      <div id="u13240" class="text" style="visibility: visible;">
                        <p><span>10.00</span></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Unnamed (单选按钮) -->
            <div id="u13241" class="ax_default radio_button">
              <label for="u13241_input">
                <!-- Unnamed () -->
                <div id="u13242" class="text" style="visibility: visible;">
                  <p><span>无餐位费</span></p>
                </div>
              </label>
              <input id="u13241_input" type="radio" value="radio" name="餐位费" checked/>
            </div>

            <!-- Unnamed (单选按钮) -->
            <div id="u13243" class="ax_default radio_button">
              <label for="u13243_input">
                <!-- Unnamed () -->
                <div id="u13244" class="text" style="visibility: visible;">
                  <p><span>按就坐人数</span></p>
                </div>
              </label>
              <input id="u13243_input" type="radio" value="radio" name="餐位费"/>
            </div>

            <!-- Unnamed (单选按钮) -->
            <div id="u13245" class="ax_default radio_button">
              <label for="u13245_input">
                <!-- Unnamed () -->
                <div id="u13246" class="text" style="visibility: visible;">
                  <p><span>固定餐位费</span></p>
                </div>
              </label>
              <input id="u13245_input" type="radio" value="radio" name="餐位费"/>
            </div>

            <!-- Unnamed (单选按钮) -->
            <div id="u13247" class="ax_default radio_button">
              <label for="u13247_input">
                <!-- Unnamed () -->
                <div id="u13248" class="text" style="visibility: visible;">
                  <p><span>按订单金额百分比</span></p>
                </div>
              </label>
              <input id="u13247_input" type="radio" value="radio" name="餐位费"/>
            </div>

            <!-- Unnamed (形状) -->
            <div id="u13249" class="ax_default icon">
              <img id="u13249_img" class="img " src="images/新建餐桌/u3260.png"/>
              <!-- Unnamed () -->
              <div id="u13250" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (水平线) -->
      <div id="u13251" class="ax_default line">
        <img id="u13251_img" class="img " src="images/菜品编辑/u4855.png"/>
        <!-- Unnamed () -->
        <div id="u13252" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (提交按钮) -->
      <div id="u13253" class="ax_default html_button">
        <input id="u13253_input" type="submit" value="保存"/>
      </div>

      <!-- Unnamed (提交按钮) -->
      <div id="u13254" class="ax_default html_button">
        <input id="u13254_input" type="submit" value="取消"/>
      </div>

      <!-- Unnamed (热区) -->
      <div id="u13255" class="ax_default">
      </div>

      <!-- Unnamed (热区) -->
      <div id="u13256" class="ax_default">
      </div>
    </div>
  </body>
</html>
