<!DOCTYPE html>
<html>
  <head>
    <title>编辑工商信息（模态窗）</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/编辑工商信息（模态窗）/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/ie.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="files/编辑工商信息（模态窗）/data.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (矩形) -->
      <div id="u1987" class="ax_default box_1">
        <div id="u1987_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1988" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1989" class="ax_default box_3">
        <div id="u1989_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1990" class="text" style="visibility: visible;">
          <p><span>编辑工商信息</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1991" class="ax_default _三级标题">
        <div id="u1991_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1992" class="text" style="visibility: visible;">
          <p><span>法人身份证号码*</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1993" class="ax_default _三级标题">
        <div id="u1993_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1994" class="text" style="visibility: visible;">
          <p><span>法人身份证照片*</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1995" class="ax_default _三级标题">
        <div id="u1995_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1996" class="text" style="visibility: visible;">
          <p><span>法人代表*</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1997" class="ax_default _三级标题">
        <div id="u1997_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1998" class="text" style="visibility: visible;">
          <p><span>法人手机号*</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1999" class="ax_default _三级标题">
        <div id="u1999_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2000" class="text" style="visibility: visible;">
          <p><span>经营范围 *</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2001" class="ax_default _三级标题">
        <div id="u2001_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2002" class="text" style="visibility: visible;">
          <p><span>营业执照扫描件*</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2003" class="ax_default _三级标题">
        <div id="u2003_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2004" class="text" style="visibility: visible;">
          <p><span>餐饮服务许可证扫描件*</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2005" class="ax_default box_1">
        <div id="u2005_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2006" class="text" style="visibility: visible;">
          <p><span>提交审核</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2007" class="ax_default box_1">
        <div id="u2007_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2008" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2009" class="ax_default box_3">
        <div id="u2009_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2010" class="text" style="visibility: visible;">
          <p><span>编辑工商信息</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2011" class="ax_default _三级标题">
        <div id="u2011_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2012" class="text" style="visibility: visible;">
          <p><span>法人身份证号码：123456789012345（</span><span style="color:#00CC66;">已认证</span><span>）</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2013" class="ax_default _三级标题">
        <div id="u2013_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2014" class="text" style="visibility: visible;">
          <p><span>法人身份证照片：</span></p><p><span>（</span><span style="color:#00CC66;">已认证</span><span>）</span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u2015" class="ax_default _图片">
        <img id="u2015_img" class="img " src="images/店铺信息（修改）/u1251.png"/>
        <!-- Unnamed () -->
        <div id="u2016" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u2017" class="ax_default _图片">
        <img id="u2017_img" class="img " src="images/店铺信息（修改）/u1251.png"/>
        <!-- Unnamed () -->
        <div id="u2018" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2019" class="ax_default _三级标题">
        <div id="u2019_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2020" class="text" style="visibility: visible;">
          <p><span>法人代表：某某某（</span><span style="color:#00CC66;">已认证</span><span>）</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2021" class="ax_default _三级标题">
        <div id="u2021_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2022" class="text" style="visibility: visible;">
          <p><span>法人手机号：13012345678（</span><span style="color:#00CC66;">已认证</span><span>）</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2023" class="ax_default _三级标题">
        <div id="u2023_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2024" class="text" style="visibility: visible;">
          <p><span>经营范围：餐饮</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2025" class="ax_default _三级标题">
        <div id="u2025_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2026" class="text" style="visibility: visible;">
          <p><span>营业执照扫描件：</span></p><p><span>（</span><span style="color:#FF6600;">认证中</span><span>）</span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u2027" class="ax_default _图片">
        <img id="u2027_img" class="img " src="images/编辑工商信息（模态窗）/u2027.png"/>
        <!-- Unnamed () -->
        <div id="u2028" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2029" class="ax_default _三级标题">
        <div id="u2029_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2030" class="text" style="visibility: visible;">
          <p><span>餐饮服务许可证扫描件：</span></p><p><span>（</span><span style="color:#FF6600;">认证中</span><span>）</span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u2031" class="ax_default _图片">
        <img id="u2031_img" class="img " src="images/编辑工商信息（模态窗）/u2027.png"/>
        <!-- Unnamed () -->
        <div id="u2032" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2033" class="ax_default box_1">
        <div id="u2033_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2034" class="text" style="visibility: visible;">
          <p><span>关闭</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u2035" class="ax_default text_field">
        <input id="u2035_input" type="text" value=""/>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u2036" class="ax_default text_field">
        <input id="u2036_input" type="text" value=""/>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u2037" class="ax_default text_field">
        <input id="u2037_input" type="text" value=""/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2038" class="ax_default box_1">
        <div id="u2038_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2039" class="text" style="visibility: visible;">
          <p><span>上传正面</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2040" class="ax_default box_1">
        <div id="u2040_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2041" class="text" style="visibility: visible;">
          <p><span>上传背面</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2042" class="ax_default box_1">
        <div id="u2042_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2043" class="text" style="visibility: visible;">
          <p><span>上传</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2044" class="ax_default box_1">
        <div id="u2044_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2045" class="text" style="visibility: visible;">
          <p><span>上传</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2046" class="ax_default box_1">
        <div id="u2046_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2047" class="text" style="visibility: visible;">
          <p><span>关闭</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u2048" class="ax_default text_field">
        <input id="u2048_input" type="text" value=""/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2049" class="ax_default label">
        <div id="u2049_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2050" class="text" style="visibility: visible;">
          <p><span>01 初始化，提交审核</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2051" class="ax_default label">
        <div id="u2051_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2052" class="text" style="visibility: visible;">
          <p><span>02 审核状态</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2053" class="ax_default label">
        <div id="u2053_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2054" class="text" style="visibility: visible;">
          <p><span>1.1 工商信息不可随意编辑，只可在以下情况进行编辑</span></p><p><span>&nbsp; 1.1.1 初始化时</span></p><p><span>&nbsp; 1.1.2 审核不通过的具体项目</span></p>
        </div>
      </div>

      <!-- Unnamed (热区) -->
      <div id="u2055" class="ax_default">
      </div>

      <!-- 第二步演示区域 (热区) -->
      <div id="u2056" class="ax_default" data-label="第二步演示区域">
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2057" class="ax_default _三级标题">
        <div id="u2057_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2058" class="text" style="visibility: visible;">
          <p><span>营业执照注册号*</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u2059" class="ax_default text_field">
        <input id="u2059_input" type="text" value=""/>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u2060" class="ax_default">

        <!-- Unnamed (矩形) -->
        <div id="u2061" class="ax_default _三级标题">
          <div id="u2061_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u2062" class="text" style="visibility: visible;">
            <p><span>餐饮服务许可证编号*</span></p>
          </div>
        </div>

        <!-- Unnamed (下拉列表框) -->
        <div id="u2063" class="ax_default droplist">
          <select id="u2063_input">
            <option selected value="省份（简称）">省份（简称）</option>
            <option value="自治区">自治区</option>
            <option value="直辖市">直辖市</option>
          </select>
        </div>

        <!-- Unnamed (下拉列表框) -->
        <div id="u2064" class="ax_default droplist">
          <select id="u2064_input">
            <option value="发证年份">发证年份</option>
          </select>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u2065" class="ax_default label">
          <div id="u2065_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u2066" class="text" style="visibility: visible;">
            <p><span>餐证字</span></p>
          </div>
        </div>

        <!-- Unnamed (文本框) -->
        <div id="u2067" class="ax_default text_field">
          <input id="u2067_input" type="text" value=""/>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u2068" class="ax_default label">
          <div id="u2068_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u2069" class="text" style="visibility: visible;">
            <p><span>第</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u2070" class="ax_default label">
          <div id="u2070_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u2071" class="text" style="visibility: visible;">
            <p><span>号</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2072" class="ax_default _三级标题">
        <div id="u2072_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2073" class="text" style="visibility: visible;">
          <p><span>营业执照注册号：123456789012345678（</span><span style="color:#FF6600;">认证中</span><span>）</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2074" class="ax_default _三级标题">
        <div id="u2074_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2075" class="text" style="visibility: visible;">
          <p><span>确认书扫描件*</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2076" class="ax_default box_1">
        <div id="u2076_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2077" class="text" style="visibility: visible;">
          <p><span>上传</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2078" class="ax_default _三级标题">
        <div id="u2078_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2079" class="text" style="visibility: visible;">
          <p><span style="text-decoration:underline;">下载确认书模板</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2080" class="ax_default _三级标题">
        <div id="u2080_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2081" class="text" style="visibility: visible;">
          <p><span>餐饮服务许可证编号：粤 餐证字（2017）第123456-123456号（</span><span style="color:#FF6600;">认证中</span><span>）</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2082" class="ax_default _三级标题">
        <div id="u2082_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2083" class="text" style="visibility: visible;">
          <p><span>确认书扫描件*</span></p><p><span>（</span><span style="color:#FF6600;">认证未通过！</span><span>）</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2084" class="ax_default box_1">
        <div id="u2084_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2085" class="text" style="visibility: visible;">
          <p><span>上传</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2086" class="ax_default _三级标题">
        <div id="u2086_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2087" class="text" style="visibility: visible;">
          <p><span style="text-decoration:underline;">下载确认书模板</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2088" class="ax_default _三级标题">
        <div id="u2088_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2089" class="text" style="visibility: visible;">
          <p><span>企业名称*</span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u2090" class="ax_default text_field">
        <input id="u2090_input" type="text" value=""/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2091" class="ax_default _三级标题">
        <div id="u2091_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2092" class="text" style="visibility: visible;">
          <p><span>企业名称：毛毛快餐店（</span><span style="color:#00CC66;">已认证</span><span>）</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2093" class="ax_default _三级标题">
        <div id="u2093_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2094" class="text" style="visibility: visible;">
          <p><span>营业期限*</span></p>
        </div>
      </div>

      <!-- Unnamed (下拉列表框) -->
      <div id="u2095" class="ax_default droplist">
        <select id="u2095_input">
          <option selected value="2017-01-29">2017-01-29</option>
        </select>
      </div>

      <!-- Unnamed (下拉列表框) -->
      <div id="u2096" class="ax_default droplist">
        <select id="u2096_input">
          <option selected value="2018-01-30">2018-01-30</option>
        </select>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2097" class="ax_default _三级标题">
        <div id="u2097_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u2098" class="text" style="visibility: visible;">
          <p><span>营业期限：2017-01-29 至 2018-01-30（</span><span style="color:#FF6600;">认证中</span><span>）</span></p>
        </div>
      </div>
    </div>
  </body>
</html>
