<!DOCTYPE html>
<html>
  <head>
    <title>编辑员工信息</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/编辑员工信息/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/ie.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="files/编辑员工信息/data.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (动态面板) -->
      <div id="u12718" class="ax_default ax_default_hidden" style="display: none; visibility: hidden">
        <div id="u12718_state0" class="panel_state" data-label="State1">
          <div id="u12718_state0_content" class="panel_state_content">

            <!-- Unnamed (矩形) -->
            <div id="u12719" class="ax_default box_3">
              <div id="u12719_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u12720" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u12721" class="ax_default box_3">
              <div id="u12721_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u12722" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u12723" class="ax_default box_2">
              <div id="u12723_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u12724" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u12725" class="ax_default label">
              <div id="u12725_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u12726" class="text" style="visibility: visible;">
                <p><span>添加部门</span></p>
              </div>
            </div>

            <!-- Unnamed (水平线) -->
            <div id="u12727" class="ax_default line">
              <img id="u12727_img" class="img " src="images/员工管理/u2449.png"/>
              <!-- Unnamed () -->
              <div id="u12728" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u12729" class="ax_default label">
              <div id="u12729_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u12730" class="text" style="visibility: visible;">
                <p><span>名称</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u12731" class="ax_default box_1">
              <div id="u12731_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u12732" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u12733" class="ax_default primary_button">
              <div id="u12733_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u12734" class="text" style="visibility: visible;">
                <p><span>确认</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u12735" class="ax_default primary_button">
              <div id="u12735_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u12736" class="text" style="visibility: visible;">
                <p><span>取消</span></p>
              </div>
            </div>

            <!-- Unnamed (形状) -->
            <div id="u12737" class="ax_default icon">
              <img id="u12737_img" class="img " src="images/员工管理/u2459.png"/>
              <!-- Unnamed () -->
              <div id="u12738" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (背景) -->

      <!-- Unnamed (矩形) -->
      <div id="u12740" class="ax_default box_2">
        <div id="u12740_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u12741" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (主标题) -->

      <!-- Unnamed (矩形) -->
      <div id="u12743" class="ax_default box_2">
        <div id="u12743_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u12744" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u12745" class="ax_default">

        <!-- Unnamed (形状) -->
        <div id="u12746" class="ax_default icon">
          <img id="u12746_img" class="img " src="images/首页-店铺/u131.png"/>
          <!-- Unnamed () -->
          <div id="u12747" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u12748" class="ax_default label">
          <div id="u12748_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u12749" class="text" style="visibility: visible;">
            <p><span>admin</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u12750" class="ax_default icon">
        <img id="u12750_img" class="img " src="images/首页-店铺/u135.png"/>
        <!-- Unnamed () -->
        <div id="u12751" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u12752" class="ax_default icon" title="系统消息">
        <img id="u12752_img" class="img " src="images/首页-店铺/u137.png"/>
        <!-- Unnamed () -->
        <div id="u12753" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u12754" class="ax_default icon" title="退出">
        <img id="u12754_img" class="img " src="images/首页-店铺/u139.png"/>
        <!-- Unnamed () -->
        <div id="u12755" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u12756" class="ax_default icon" title="修改密码">
        <img id="u12756_img" class="img " src="images/首页-店铺/u141.png"/>
        <!-- Unnamed () -->
        <div id="u12757" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (侧边主导航) -->

      <!-- Unnamed (动态面板) -->
      <div id="u12759" class="ax_default">
        <div id="u12759_state0" class="panel_state" data-label="State1">
          <div id="u12759_state0_content" class="panel_state_content">

            <!-- Unnamed (矩形) -->
            <div id="u12760" class="ax_default box_2">
              <div id="u12760_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u12761" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (图片) -->
            <div id="u12762" class="ax_default _图片">
              <img id="u12762_img" class="img " src="images/首页-店铺/u147.png"/>
              <!-- Unnamed () -->
              <div id="u12763" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (组合) -->
            <div id="u12764" class="ax_default">

              <!-- Unnamed (矩形) -->
              <div id="u12765" class="ax_default _三级标题">
                <div id="u12765_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u12766" class="text" style="visibility: visible;">
                  <p><span>首页</span></p>
                </div>
              </div>

              <!-- Unnamed (形状) -->
              <div id="u12767" class="ax_default icon">
                <img id="u12767_img" class="img " src="images/首页-店铺/u152.png"/>
                <!-- Unnamed () -->
                <div id="u12768" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u12769" class="ax_default _三级标题">
              <div id="u12769_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u12770" class="text" style="visibility: visible;">
                <p><span>店铺信息</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u12771" class="ax_default _三级标题">
              <div id="u12771_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u12772" class="text" style="visibility: visible;">
                <p><span>员工管理</span></p>
              </div>
            </div>

            <!-- Unnamed (组合) -->
            <div id="u12773" class="ax_default">

              <!-- Unnamed (矩形) -->
              <div id="u12774" class="ax_default _三级标题">
                <div id="u12774_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u12775" class="text" style="visibility: visible;">
                  <p><span>店铺管理</span></p>
                </div>
              </div>

              <!-- Unnamed (形状) -->
              <div id="u12776" class="ax_default icon">
                <img id="u12776_img" class="img " src="images/首页-店铺/u161.png"/>
                <!-- Unnamed () -->
                <div id="u12777" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u12778" class="ax_default _三级标题">
              <div id="u12778_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u12779" class="text" style="visibility: visible;">
                <p><span>菜品管理</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u12780" class="ax_default _三级标题">
              <div id="u12780_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u12781" class="text" style="visibility: visible;">
                <p><span>客户管理</span></p>
              </div>
            </div>

            <!-- Unnamed (占位符) -->
            <div id="u12782" class="ax_default placeholder">
              <img id="u12782_img" class="img " src="images/首页-店铺/u167.png"/>
              <!-- Unnamed () -->
              <div id="u12783" class="text" style="visibility: visible;">
                <p><span>logo赛领点餐系统平台</span></p>
              </div>
            </div>

            <!-- Unnamed (热区) -->
            <div id="u12784" class="ax_default">
            </div>

            <!-- Unnamed (下拉列表框) -->
            <div id="u12785" class="ax_default droplist">
              <select id="u12785_input">
                <option selected value="     店铺名称1">&nbsp;&nbsp; &nbsp; 店铺名称1</option>
              </select>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u12786" class="ax_default box_2">
              <div id="u12786_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u12787" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u12788" class="ax_default _三级标题">
              <div id="u12788_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u12789" class="text" style="visibility: visible;">
                <p><span>餐桌管理</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u12790" class="ax_default _三级标题">
              <div id="u12790_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u12791" class="text" style="visibility: visible;">
                <p><span>订单报表</span></p>
              </div>
            </div>

            <!-- Unnamed (组合) -->
            <div id="u12792" class="ax_default">

              <!-- Unnamed (矩形) -->
              <div id="u12793" class="ax_default _三级标题">
                <div id="u12793_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u12794" class="text" style="visibility: visible;">
                  <p><span>统计报表</span></p>
                </div>
              </div>

              <!-- Unnamed (形状) -->
              <div id="u12795" class="ax_default icon">
                <img id="u12795_img" class="img " src="images/首页-店铺/u161.png"/>
                <!-- Unnamed () -->
                <div id="u12796" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u12797" class="ax_default _三级标题">
              <div id="u12797_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u12798" class="text" style="visibility: visible;">
                <p><span>预订报表</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u12799" class="ax_default _三级标题">
              <div id="u12799_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u12800" class="text" style="visibility: visible;">
                <p><span>打印机管理</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u12801" class="ax_default _三级标题">
              <div id="u12801_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u12802" class="text" style="visibility: visible;">
                <p><span>收银设置</span></p>
              </div>
            </div>

            <!-- Unnamed (组合) -->
            <div id="u12803" class="ax_default">

              <!-- Unnamed (矩形) -->
              <div id="u12804" class="ax_default _三级标题">
                <div id="u12804_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u12805" class="text" style="visibility: visible;">
                  <p><span>消息中心</span></p>
                </div>
              </div>

              <!-- Unnamed (形状) -->
              <div id="u12806" class="ax_default icon">
                <img id="u12806_img" class="img " src="images/首页-店铺/u161.png"/>
                <!-- Unnamed () -->
                <div id="u12807" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u12808" class="ax_default _三级标题">
              <div id="u12808_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u12809" class="text" style="visibility: visible;">
                <p><span>账单流水</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u12810" class="ax_default _三级标题">
              <div id="u12810_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u12811" class="text" style="visibility: visible;">
                <p><span>系统公告</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u12812" class="ax_default _三级标题">
              <div id="u12812_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u12813" class="text" style="visibility: visible;">
                <p><span>群发消息</span></p>
              </div>
            </div>

            <!-- Unnamed (热区) -->
            <div id="u12814" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u12815" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u12816" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u12817" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u12818" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u12819" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u12820" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u12821" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u12822" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u12823" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u12824" class="ax_default">
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u12825" class="ax_default label">
              <div id="u12825_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u12826" class="text" style="visibility: visible;">
                <p><span>店铺名称</span></p>
              </div>
            </div>

            <!-- Unnamed (热区) -->
            <div id="u12827" class="ax_default">
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u12828" class="ax_default image">
        <img id="u12828_img" class="img " src="images/添加员工信息/u12572.png"/>
        <!-- Unnamed () -->
        <div id="u12829" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u12830" class="ax_default">

        <!-- Unnamed (组合) -->
        <div id="u12831" class="ax_default">

          <!-- Unnamed (形状) -->
          <div id="u12832" class="ax_default icon">
            <img id="u12832_img" class="img " src="images/餐桌管理/u2875.png"/>
            <!-- Unnamed () -->
            <div id="u12833" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u12834" class="ax_default label">
            <div id="u12834_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u12835" class="text" style="visibility: visible;">
              <p><span>系统消息通知系统消息通知滚（滚动）</span></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u12836" class="ax_default box_2">
        <div id="u12836_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u12837" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u12838" class="ax_default label">
        <div id="u12838_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u12839" class="text" style="visibility: visible;">
          <p><span>员工管理 &gt; </span><span style="color:#0099CC;">编辑员工信息</span></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u12840" class="ax_default">

        <!-- Unnamed (矩形) -->
        <div id="u12841" class="ax_default label">
          <div id="u12841_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u12842" class="text" style="visibility: visible;">
            <p><span>员工编号:</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u12843" class="ax_default label">
          <div id="u12843_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u12844" class="text" style="visibility: visible;">
            <p><span>19</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u12845" class="ax_default icon">
        <img id="u12845_img" class="img " src="images/添加_编辑打印机（模态窗）/u6664.png"/>
        <!-- Unnamed () -->
        <div id="u12846" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u12847" class="ax_default">

        <!-- Unnamed (组合) -->
        <div id="u12848" class="ax_default">

          <!-- Unnamed (矩形) -->
          <div id="u12849" class="ax_default label">
            <div id="u12849_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u12850" class="text" style="visibility: visible;">
              <p><span>部门：</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (下拉列表框) -->
        <div id="u12851" class="ax_default droplist">
          <select id="u12851_input">
            <option value="请选择员工所属部门">请选择员工所属部门</option>
            <option value="清洁部">清洁部</option>
            <option selected value="收银部">收银部</option>
          </select>
        </div>
      </div>

      <!-- Unnamed (提交按钮) -->
      <div id="u12852" class="ax_default html_button">
        <input id="u12852_input" type="submit" value="保存"/>
      </div>

      <!-- Unnamed (提交按钮) [footnote] -->
      <div id="u12852_ann" class="annotation"></div>

      <!-- Unnamed (组合) -->
      <div id="u12853" class="ax_default">

        <!-- Unnamed (矩形) -->
        <div id="u12854" class="ax_default label">
          <div id="u12854_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u12855" class="text" style="visibility: visible;">
            <p><span>绑定微信：</span></p>
          </div>
        </div>

        <!-- Unnamed (提交按钮) -->
        <div id="u12856" class="ax_default html_button">
          <input id="u12856_input" type="submit" value="绑定/解绑"/>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u12857" class="ax_default">

        <!-- Unnamed (组合) -->
        <div id="u12858" class="ax_default">

          <!-- Unnamed (矩形) -->
          <div id="u12859" class="ax_default label">
            <div id="u12859_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u12860" class="text" style="visibility: visible;">
              <p><span>确认密码：</span></p>
            </div>
          </div>

          <!-- Unnamed (组合) -->
          <div id="u12861" class="ax_default">
          </div>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u12862" class="ax_default">

        <!-- Unnamed (组合) -->
        <div id="u12863" class="ax_default">

          <!-- Unnamed (矩形) -->
          <div id="u12864" class="ax_default label">
            <div id="u12864_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u12865" class="text" style="visibility: visible;">
              <p><span>密码：</span></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u12866" class="ax_default">

        <!-- Unnamed (组合) -->
        <div id="u12867" class="ax_default">

          <!-- Unnamed (矩形) -->
          <div id="u12868" class="ax_default label">
            <div id="u12868_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u12869" class="text" style="visibility: visible;">
              <p><span>手机号：</span></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u12870" class="ax_default">

        <!-- Unnamed (组合) -->
        <div id="u12871" class="ax_default">

          <!-- Unnamed (矩形) -->
          <div id="u12872" class="ax_default label">
            <div id="u12872_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u12873" class="text" style="visibility: visible;">
              <p><span>姓名：</span></p>
            </div>
          </div>

          <!-- Unnamed (组合) -->
          <div id="u12874" class="ax_default">

            <!-- Unnamed (矩形) -->
            <div id="u12875" class="ax_default box_2">
              <div id="u12875_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u12876" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>
          </div>
        </div>

        <!-- Unnamed (文本框) -->
        <div id="u12877" class="ax_default text_field">
          <input id="u12877_input" type="text" value=""/>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u12878" class="ax_default">

        <!-- Unnamed (矩形) -->
        <div id="u12879" class="ax_default label">
          <div id="u12879_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u12880" class="text" style="visibility: visible;">
            <p><span>健康证：</span></p>
          </div>
        </div>

        <!-- Unnamed (图片) -->
        <div id="u12881" class="ax_default image">
          <img id="u12881_img" class="img " src="images/添加员工信息/u12641.png"/>
          <!-- Unnamed () -->
          <div id="u12882" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (提交按钮) -->
        <div id="u12883" class="ax_default html_button">
          <input id="u12883_input" type="submit" value="上传"/>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u12884" class="ax_default">

        <!-- Unnamed (组合) -->
        <div id="u12885" class="ax_default">

          <!-- Unnamed (矩形) -->
          <div id="u12886" class="ax_default label">
            <div id="u12886_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u12887" class="text" style="visibility: visible;">
              <p><span>用户名：</span></p>
            </div>
          </div>

          <!-- Unnamed (组合) -->
          <div id="u12888" class="ax_default">

            <!-- Unnamed (矩形) -->
            <div id="u12889" class="ax_default box_2">
              <div id="u12889_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u12890" class="text" style="visibility: visible;">
                <p><span>&nbsp; sailing999</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u12891" class="ax_default">

        <!-- Unnamed (组合) -->
        <div id="u12892" class="ax_default">

          <!-- Unnamed (组合) -->
          <div id="u12893" class="ax_default">

            <!-- Unnamed (矩形) -->
            <div id="u12894" class="ax_default label">
              <div id="u12894_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u12895" class="text" style="visibility: visible;">
                <p><span>性别：</span></p>
              </div>
            </div>
          </div>
        </div>

        <!-- Unnamed (单选按钮) -->
        <div id="u12896" class="ax_default radio_button">
          <label for="u12896_input">
            <!-- Unnamed () -->
            <div id="u12897" class="text" style="visibility: visible;">
              <p><span>男</span></p>
            </div>
          </label>
          <input id="u12896_input" type="radio" value="radio" name="性别" checked/>
        </div>

        <!-- Unnamed (单选按钮) -->
        <div id="u12898" class="ax_default radio_button">
          <label for="u12898_input">
            <!-- Unnamed () -->
            <div id="u12899" class="text" style="visibility: visible;">
              <p><span>女</span></p>
            </div>
          </label>
          <input id="u12898_input" type="radio" value="radio" name="性别"/>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u12900" class="ax_default">

        <!-- Unnamed (矩形) -->
        <div id="u12901" class="ax_default label">
          <div id="u12901_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u12902" class="text" style="visibility: visible;">
            <p><span>工作店铺名称:</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u12903" class="ax_default label">
          <div id="u12903_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u12904" class="text" style="visibility: visible;">
            <p><span>新吃货美食店</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (提交按钮) -->
      <div id="u12905" class="ax_default html_button">
        <input id="u12905_input" type="submit" value="取消"/>
      </div>

      <!-- Unnamed (提交按钮) [footnote] -->
      <div id="u12905_ann" class="annotation"></div>

      <!-- Unnamed (水平线) -->
      <div id="u12906" class="ax_default line">
        <img id="u12906_img" class="img " src="images/添加员工信息/u12669.png"/>
        <!-- Unnamed () -->
        <div id="u12907" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u12908" class="ax_default">

        <!-- Unnamed (组合) -->
        <div id="u12909" class="ax_default">

          <!-- Unnamed (矩形) -->
          <div id="u12910" class="ax_default label">
            <div id="u12910_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u12911" class="text" style="visibility: visible;">
              <p><span>职级：</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (下拉列表框) -->
        <div id="u12912" class="ax_default droplist">
          <select id="u12912_input">
            <option value="请选择职级">请选择职级</option>
            <option selected value="店长（默认）">店长（默认）</option>
            <option value="收银员（默认）">收银员（默认）</option>
            <option value="服务员（默认）">服务员（默认）</option>
          </select>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u12913" class="ax_default icon">
        <img id="u12913_img" class="img " src="images/添加_编辑打印机（模态窗）/u6664.png"/>
        <!-- Unnamed () -->
        <div id="u12914" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u12915" class="ax_default icon">
        <img id="u12915_img" class="img " src="images/添加_编辑打印机（模态窗）/u6664.png"/>
        <!-- Unnamed () -->
        <div id="u12916" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u12917" class="ax_default icon">
        <img id="u12917_img" class="img " src="images/添加_编辑打印机（模态窗）/u6664.png"/>
        <!-- Unnamed () -->
        <div id="u12918" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u12919" class="ax_default icon">
        <img id="u12919_img" class="img " src="images/添加_编辑打印机（模态窗）/u6664.png"/>
        <!-- Unnamed () -->
        <div id="u12920" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u12921" class="ax_default icon">
        <img id="u12921_img" class="img " src="images/添加_编辑打印机（模态窗）/u6664.png"/>
        <!-- Unnamed () -->
        <div id="u12922" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u12923" class="ax_default icon">
        <img id="u12923_img" class="img " src="images/添加_编辑打印机（模态窗）/u6664.png"/>
        <!-- Unnamed () -->
        <div id="u12924" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u12925" class="ax_default icon">
        <img id="u12925_img" class="img " src="images/添加_编辑打印机（模态窗）/u6664.png"/>
        <!-- Unnamed () -->
        <div id="u12926" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u12927" class="ax_default text_field">
        <input id="u12927_input" type="text" value=""/>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u12928" class="ax_default text_field">
        <input id="u12928_input" type="text" value="********"/>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u12929" class="ax_default text_field">
        <input id="u12929_input" type="text" value="********"/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u12930" class="ax_default label">
        <div id="u12930_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u12931" class="text" style="visibility: visible;">
          <p><span>开发说明：编辑员工信息时，用户名不能更改</span></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u12932" class="ax_default">

        <!-- Unnamed (矩形) -->
        <div id="u12933" class="ax_default box_2">
          <div id="u12933_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u12934" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u12935" class="ax_default _三级标题">
          <div id="u12935_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u12936" class="text" style="visibility: visible;">
            <p><span>成功修改员工信息</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (连接线) -->
      <div id="u12937" class="ax_default _连接线">
        <img id="u12937_seg0" class="img " src="images/编辑员工信息/u12937_seg0.png" alt="u12937_seg0"/>
        <img id="u12937_seg1" class="img " src="images/编辑员工信息/u12937_seg1.png" alt="u12937_seg1"/>
        <img id="u12937_seg2" class="img " src="images/编辑员工信息/u12937_seg2.png" alt="u12937_seg2"/>
        <img id="u12937_seg3" class="img " src="images/新建餐桌/u3328_seg3.png" alt="u12937_seg3"/>
        <!-- Unnamed () -->
        <div id="u12938" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u12939" class="ax_default link_button">
        <div id="u12939_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u12940" class="text" style="visibility: visible;">
          <p><span>新增部门</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u12941" class="ax_default link_button">
        <div id="u12941_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u12942" class="text" style="visibility: visible;">
          <p><span>新增职级</span></p>
        </div>
      </div>

      <!-- Unnamed (热区) -->
      <div id="u12943" class="ax_default">
      </div>
    </div>
  </body>
</html>
