<!DOCTYPE html>
<html>
  <head>
    <title>编辑标签（模态窗）</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/编辑标签（模态窗）/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/ie.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="files/编辑标签（模态窗）/data.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (标签-系统推荐) -->

      <!-- Unnamed (动态面板) -->
      <div id="u5006" class="ax_default">
        <div id="u5006_state0" class="panel_state" data-label="正常状态">
          <div id="u5006_state0_content" class="panel_state_content">

            <!-- Unnamed (矩形) -->
            <div id="u5007" class="ax_default box_2">
              <div id="u5007_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u5008" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u5009" class="ax_default box_1">
              <div id="u5009_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u5010" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (水平线) -->
            <div id="u5011" class="ax_default line">
              <img id="u5011_img" class="img " src="images/店铺设置（模态窗）/u2275.png"/>
              <!-- Unnamed () -->
              <div id="u5012" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u5013" class="ax_default label">
              <div id="u5013_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u5014" class="text" style="visibility: visible;">
                <p><span>编辑xx标签</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u5015" class="ax_default label">
              <div id="u5015_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u5016" class="text" style="visibility: visible;">
                <p><span>请选择标签（单/多选）</span></p>
              </div>
            </div>

            <!-- Unnamed (标签编辑系统-标签选项) -->

            <!-- 标签选项 (动态面板) -->
            <div id="u5018" class="ax_default" data-label="标签选项">
              <div id="u5018_state0" class="panel_state" data-label="未选中">
                <div id="u5018_state0_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u5019" class="ax_default button">
                    <div id="u5019_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u5020" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="u5018_state1" class="panel_state" data-label="已选中">
                <div id="u5018_state1_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u5021" class="ax_default button">
                    <div id="u5021_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u5022" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="u5018_state2" class="panel_state" data-label="删除操作">
                <div id="u5018_state2_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u5023" class="ax_default button">
                    <div id="u5023_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u5024" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (椭圆形) -->
                  <div id="u5025" class="ax_default ellipse">
                    <img id="u5025_img" class="img " src="images/店铺设置（模态窗）/u2289.png"/>
                    <!-- Unnamed () -->
                    <div id="u5026" class="text" style="visibility: visible;">
                      <p><span>X</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- 删除后需隐藏区域 (动态面板) -->
            <div id="u5027" class="ax_default" data-label="删除后需隐藏区域">
              <div id="u5027_state0" class="panel_state" data-label="State1">
                <div id="u5027_state0_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u5028" class="ax_default primary_button">
                    <div id="u5028_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u5029" class="text" style="visibility: visible;">
                      <p><span>取消</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (矩形) -->
                  <div id="u5030" class="ax_default primary_button">
                    <div id="u5030_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u5031" class="text" style="visibility: visible;">
                      <p><span>添加</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (文本框) -->
                  <div id="u5032" class="ax_default text_field">
                    <input id="u5032_input" type="text" value=""/>
                  </div>

                  <!-- Unnamed (矩形) -->
                  <div id="u5033" class="ax_default primary_button">
                    <div id="u5033_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u5034" class="text" style="visibility: visible;">
                      <p><span>确定</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (矩形) -->
                  <div id="u5035" class="ax_default box_3">
                    <div id="u5035_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u5036" class="text" style="visibility: visible;">
                      <p><span>已超过上限xx，请先删除再添加</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Unnamed (标签编辑系统-标签选项) -->

            <!-- 标签选项 (动态面板) -->
            <div id="u5038" class="ax_default" data-label="标签选项">
              <div id="u5038_state0" class="panel_state" data-label="未选中">
                <div id="u5038_state0_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u5039" class="ax_default button">
                    <div id="u5039_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u5040" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="u5038_state1" class="panel_state" data-label="已选中">
                <div id="u5038_state1_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u5041" class="ax_default button">
                    <div id="u5041_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u5042" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="u5038_state2" class="panel_state" data-label="删除操作">
                <div id="u5038_state2_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u5043" class="ax_default button">
                    <div id="u5043_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u5044" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (椭圆形) -->
                  <div id="u5045" class="ax_default ellipse">
                    <img id="u5045_img" class="img " src="images/店铺设置（模态窗）/u2289.png"/>
                    <!-- Unnamed () -->
                    <div id="u5046" class="text" style="visibility: visible;">
                      <p><span>X</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Unnamed (标签编辑系统-标签选项) -->

            <!-- 标签选项 (动态面板) -->
            <div id="u5048" class="ax_default" data-label="标签选项">
              <div id="u5048_state0" class="panel_state" data-label="未选中">
                <div id="u5048_state0_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u5049" class="ax_default button">
                    <div id="u5049_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u5050" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="u5048_state1" class="panel_state" data-label="已选中">
                <div id="u5048_state1_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u5051" class="ax_default button">
                    <div id="u5051_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u5052" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="u5048_state2" class="panel_state" data-label="删除操作">
                <div id="u5048_state2_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u5053" class="ax_default button">
                    <div id="u5053_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u5054" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (椭圆形) -->
                  <div id="u5055" class="ax_default ellipse">
                    <img id="u5055_img" class="img " src="images/店铺设置（模态窗）/u2289.png"/>
                    <!-- Unnamed () -->
                    <div id="u5056" class="text" style="visibility: visible;">
                      <p><span>X</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Unnamed (标签编辑系统-标签选项) -->

            <!-- 标签选项 (动态面板) -->
            <div id="u5058" class="ax_default" data-label="标签选项">
              <div id="u5058_state0" class="panel_state" data-label="未选中">
                <div id="u5058_state0_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u5059" class="ax_default button">
                    <div id="u5059_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u5060" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="u5058_state1" class="panel_state" data-label="已选中">
                <div id="u5058_state1_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u5061" class="ax_default button">
                    <div id="u5061_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u5062" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="u5058_state2" class="panel_state" data-label="删除操作">
                <div id="u5058_state2_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u5063" class="ax_default button">
                    <div id="u5063_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u5064" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (椭圆形) -->
                  <div id="u5065" class="ax_default ellipse">
                    <img id="u5065_img" class="img " src="images/店铺设置（模态窗）/u2289.png"/>
                    <!-- Unnamed () -->
                    <div id="u5066" class="text" style="visibility: visible;">
                      <p><span>X</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Unnamed (标签编辑系统-标签选项) -->

            <!-- 标签选项 (动态面板) -->
            <div id="u5068" class="ax_default" data-label="标签选项">
              <div id="u5068_state0" class="panel_state" data-label="未选中">
                <div id="u5068_state0_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u5069" class="ax_default button">
                    <div id="u5069_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u5070" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="u5068_state1" class="panel_state" data-label="已选中">
                <div id="u5068_state1_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u5071" class="ax_default button">
                    <div id="u5071_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u5072" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="u5068_state2" class="panel_state" data-label="删除操作">
                <div id="u5068_state2_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u5073" class="ax_default button">
                    <div id="u5073_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u5074" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (椭圆形) -->
                  <div id="u5075" class="ax_default ellipse">
                    <img id="u5075_img" class="img " src="images/店铺设置（模态窗）/u2289.png"/>
                    <!-- Unnamed () -->
                    <div id="u5076" class="text" style="visibility: visible;">
                      <p><span>X</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Unnamed (标签编辑系统-标签选项) -->

            <!-- 标签选项 (动态面板) -->
            <div id="u5078" class="ax_default" data-label="标签选项">
              <div id="u5078_state0" class="panel_state" data-label="未选中">
                <div id="u5078_state0_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u5079" class="ax_default button">
                    <div id="u5079_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u5080" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="u5078_state1" class="panel_state" data-label="已选中">
                <div id="u5078_state1_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u5081" class="ax_default button">
                    <div id="u5081_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u5082" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="u5078_state2" class="panel_state" data-label="删除操作">
                <div id="u5078_state2_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u5083" class="ax_default button">
                    <div id="u5083_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u5084" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (椭圆形) -->
                  <div id="u5085" class="ax_default ellipse">
                    <img id="u5085_img" class="img " src="images/店铺设置（模态窗）/u2289.png"/>
                    <!-- Unnamed () -->
                    <div id="u5086" class="text" style="visibility: visible;">
                      <p><span>X</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Unnamed (标签编辑系统-标签选项) -->

            <!-- 标签选项 (动态面板) -->
            <div id="u5088" class="ax_default" data-label="标签选项">
              <div id="u5088_state0" class="panel_state" data-label="未选中">
                <div id="u5088_state0_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u5089" class="ax_default button">
                    <div id="u5089_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u5090" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="u5088_state1" class="panel_state" data-label="已选中">
                <div id="u5088_state1_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u5091" class="ax_default button">
                    <div id="u5091_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u5092" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="u5088_state2" class="panel_state" data-label="删除操作">
                <div id="u5088_state2_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u5093" class="ax_default button">
                    <div id="u5093_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u5094" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (椭圆形) -->
                  <div id="u5095" class="ax_default ellipse">
                    <img id="u5095_img" class="img " src="images/店铺设置（模态窗）/u2289.png"/>
                    <!-- Unnamed () -->
                    <div id="u5096" class="text" style="visibility: visible;">
                      <p><span>X</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Unnamed (标签编辑系统-标签选项) -->

            <!-- 标签选项 (动态面板) -->
            <div id="u5098" class="ax_default" data-label="标签选项">
              <div id="u5098_state0" class="panel_state" data-label="未选中">
                <div id="u5098_state0_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u5099" class="ax_default button">
                    <div id="u5099_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u5100" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="u5098_state1" class="panel_state" data-label="已选中">
                <div id="u5098_state1_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u5101" class="ax_default button">
                    <div id="u5101_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u5102" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="u5098_state2" class="panel_state" data-label="删除操作">
                <div id="u5098_state2_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u5103" class="ax_default button">
                    <div id="u5103_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u5104" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (椭圆形) -->
                  <div id="u5105" class="ax_default ellipse">
                    <img id="u5105_img" class="img " src="images/店铺设置（模态窗）/u2289.png"/>
                    <!-- Unnamed () -->
                    <div id="u5106" class="text" style="visibility: visible;">
                      <p><span>X</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Unnamed (标签编辑系统-标签选项) -->

            <!-- 标签选项 (动态面板) -->
            <div id="u5108" class="ax_default" data-label="标签选项">
              <div id="u5108_state0" class="panel_state" data-label="未选中">
                <div id="u5108_state0_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u5109" class="ax_default button">
                    <div id="u5109_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u5110" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="u5108_state1" class="panel_state" data-label="已选中">
                <div id="u5108_state1_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u5111" class="ax_default button">
                    <div id="u5111_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u5112" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="u5108_state2" class="panel_state" data-label="删除操作">
                <div id="u5108_state2_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u5113" class="ax_default button">
                    <div id="u5113_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u5114" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (椭圆形) -->
                  <div id="u5115" class="ax_default ellipse">
                    <img id="u5115_img" class="img " src="images/店铺设置（模态窗）/u2289.png"/>
                    <!-- Unnamed () -->
                    <div id="u5116" class="text" style="visibility: visible;">
                      <p><span>X</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Unnamed (标签编辑系统-标签选项) -->

            <!-- 标签选项 (动态面板) -->
            <div id="u5118" class="ax_default" data-label="标签选项">
              <div id="u5118_state0" class="panel_state" data-label="未选中">
                <div id="u5118_state0_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u5119" class="ax_default button">
                    <div id="u5119_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u5120" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="u5118_state1" class="panel_state" data-label="已选中">
                <div id="u5118_state1_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u5121" class="ax_default button">
                    <div id="u5121_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u5122" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="u5118_state2" class="panel_state" data-label="删除操作">
                <div id="u5118_state2_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u5123" class="ax_default button">
                    <div id="u5123_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u5124" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (椭圆形) -->
                  <div id="u5125" class="ax_default ellipse">
                    <img id="u5125_img" class="img " src="images/店铺设置（模态窗）/u2289.png"/>
                    <!-- Unnamed () -->
                    <div id="u5126" class="text" style="visibility: visible;">
                      <p><span>X</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- the one (标签编辑系统-标签选项) -->

            <!-- 标签选项 (动态面板) -->
            <div id="u5128" class="ax_default ax_default_hidden" data-label="标签选项">
              <div id="u5128_state0" class="panel_state" data-label="未选中">
                <div id="u5128_state0_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u5129" class="ax_default button">
                    <div id="u5129_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u5130" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="u5128_state1" class="panel_state" data-label="已选中">
                <div id="u5128_state1_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u5131" class="ax_default button">
                    <div id="u5131_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u5132" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="u5128_state2" class="panel_state" data-label="删除操作">
                <div id="u5128_state2_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u5133" class="ax_default button">
                    <div id="u5133_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u5134" class="text" style="visibility: visible;">
                      <p><span>标签1</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (椭圆形) -->
                  <div id="u5135" class="ax_default ellipse">
                    <img id="u5135_img" class="img " src="images/店铺设置（模态窗）/u2289.png"/>
                    <!-- Unnamed () -->
                    <div id="u5136" class="text" style="visibility: visible;">
                      <p><span>X</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- 删除按钮 (动态面板) -->
            <div id="u5137" class="ax_default" data-label="删除按钮">
              <div id="u5137_state0" class="panel_state" data-label="删除">
                <div id="u5137_state0_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u5138" class="ax_default label">
                    <div id="u5138_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u5139" class="text" style="visibility: visible;">
                      <p><span>删除</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (热区) -->
                  <div id="u5140" class="ax_default">
                  </div>
                </div>
              </div>
              <div id="u5137_state1" class="panel_state" data-label="确定、取消">
                <div id="u5137_state1_content" class="panel_state_content">

                  <!-- Unnamed (矩形) -->
                  <div id="u5141" class="ax_default label">
                    <div id="u5141_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u5142" class="text" style="visibility: visible;">
                      <p><span>确定&nbsp;&nbsp; 取消</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (热区) -->
                  <div id="u5143" class="ax_default">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="u5006_state1" class="panel_state" data-label="删除标签">
          <div id="u5006_state1_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- Unnamed (热区) -->
      <div id="u5144" class="ax_default">
      </div>
    </div>
  </body>
</html>
