<!DOCTYPE html>
<html>
  <head>
    <title>群发消息</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/群发消息/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/ie.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="files/群发消息/data.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (组合模板) -->

      <!-- Unnamed (背景) -->

      <!-- Unnamed (矩形) -->
      <div id="u8435" class="ax_default box_2">
        <div id="u8435_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8436" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (主标题) -->

      <!-- Unnamed (矩形) -->
      <div id="u8438" class="ax_default box_2">
        <div id="u8438_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8439" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u8440" class="ax_default">

        <!-- Unnamed (形状) -->
        <div id="u8441" class="ax_default icon">
          <img id="u8441_img" class="img " src="images/首页-店铺/u131.png"/>
          <!-- Unnamed () -->
          <div id="u8442" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u8443" class="ax_default label">
          <div id="u8443_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u8444" class="text" style="visibility: visible;">
            <p><span>admin</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u8445" class="ax_default icon">
        <img id="u8445_img" class="img " src="images/首页-店铺/u135.png"/>
        <!-- Unnamed () -->
        <div id="u8446" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u8447" class="ax_default icon" title="系统消息">
        <img id="u8447_img" class="img " src="images/首页-店铺/u137.png"/>
        <!-- Unnamed () -->
        <div id="u8448" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u8449" class="ax_default icon" title="退出">
        <img id="u8449_img" class="img " src="images/首页-店铺/u139.png"/>
        <!-- Unnamed () -->
        <div id="u8450" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u8451" class="ax_default icon" title="修改密码">
        <img id="u8451_img" class="img " src="images/首页-店铺/u141.png"/>
        <!-- Unnamed () -->
        <div id="u8452" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (侧边主导航) -->

      <!-- Unnamed (动态面板) -->
      <div id="u8454" class="ax_default">
        <div id="u8454_state0" class="panel_state" data-label="State1">
          <div id="u8454_state0_content" class="panel_state_content">

            <!-- Unnamed (矩形) -->
            <div id="u8455" class="ax_default box_2">
              <div id="u8455_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u8456" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (图片) -->
            <div id="u8457" class="ax_default _图片">
              <img id="u8457_img" class="img " src="images/首页-店铺/u147.png"/>
              <!-- Unnamed () -->
              <div id="u8458" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (组合) -->
            <div id="u8459" class="ax_default">

              <!-- Unnamed (矩形) -->
              <div id="u8460" class="ax_default _三级标题">
                <div id="u8460_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u8461" class="text" style="visibility: visible;">
                  <p><span>首页</span></p>
                </div>
              </div>

              <!-- Unnamed (形状) -->
              <div id="u8462" class="ax_default icon">
                <img id="u8462_img" class="img " src="images/首页-店铺/u152.png"/>
                <!-- Unnamed () -->
                <div id="u8463" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u8464" class="ax_default _三级标题">
              <div id="u8464_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u8465" class="text" style="visibility: visible;">
                <p><span>店铺信息</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u8466" class="ax_default _三级标题">
              <div id="u8466_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u8467" class="text" style="visibility: visible;">
                <p><span>员工管理</span></p>
              </div>
            </div>

            <!-- Unnamed (组合) -->
            <div id="u8468" class="ax_default">

              <!-- Unnamed (矩形) -->
              <div id="u8469" class="ax_default _三级标题">
                <div id="u8469_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u8470" class="text" style="visibility: visible;">
                  <p><span>店铺管理</span></p>
                </div>
              </div>

              <!-- Unnamed (形状) -->
              <div id="u8471" class="ax_default icon">
                <img id="u8471_img" class="img " src="images/首页-店铺/u161.png"/>
                <!-- Unnamed () -->
                <div id="u8472" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u8473" class="ax_default _三级标题">
              <div id="u8473_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u8474" class="text" style="visibility: visible;">
                <p><span>菜品管理</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u8475" class="ax_default _三级标题">
              <div id="u8475_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u8476" class="text" style="visibility: visible;">
                <p><span>客户管理</span></p>
              </div>
            </div>

            <!-- Unnamed (占位符) -->
            <div id="u8477" class="ax_default placeholder">
              <img id="u8477_img" class="img " src="images/首页-店铺/u167.png"/>
              <!-- Unnamed () -->
              <div id="u8478" class="text" style="visibility: visible;">
                <p><span>logo赛领点餐系统平台</span></p>
              </div>
            </div>

            <!-- Unnamed (热区) -->
            <div id="u8479" class="ax_default">
            </div>

            <!-- Unnamed (下拉列表框) -->
            <div id="u8480" class="ax_default droplist">
              <select id="u8480_input">
                <option selected value="     店铺名称1">&nbsp;&nbsp; &nbsp; 店铺名称1</option>
              </select>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u8481" class="ax_default box_2">
              <div id="u8481_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u8482" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u8483" class="ax_default _三级标题">
              <div id="u8483_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u8484" class="text" style="visibility: visible;">
                <p><span>餐桌管理</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u8485" class="ax_default _三级标题">
              <div id="u8485_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u8486" class="text" style="visibility: visible;">
                <p><span>订单报表</span></p>
              </div>
            </div>

            <!-- Unnamed (组合) -->
            <div id="u8487" class="ax_default">

              <!-- Unnamed (矩形) -->
              <div id="u8488" class="ax_default _三级标题">
                <div id="u8488_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u8489" class="text" style="visibility: visible;">
                  <p><span>统计报表</span></p>
                </div>
              </div>

              <!-- Unnamed (形状) -->
              <div id="u8490" class="ax_default icon">
                <img id="u8490_img" class="img " src="images/首页-店铺/u161.png"/>
                <!-- Unnamed () -->
                <div id="u8491" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u8492" class="ax_default _三级标题">
              <div id="u8492_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u8493" class="text" style="visibility: visible;">
                <p><span>预订报表</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u8494" class="ax_default _三级标题">
              <div id="u8494_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u8495" class="text" style="visibility: visible;">
                <p><span>打印机管理</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u8496" class="ax_default _三级标题">
              <div id="u8496_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u8497" class="text" style="visibility: visible;">
                <p><span>收银设置</span></p>
              </div>
            </div>

            <!-- Unnamed (组合) -->
            <div id="u8498" class="ax_default">

              <!-- Unnamed (矩形) -->
              <div id="u8499" class="ax_default _三级标题">
                <div id="u8499_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u8500" class="text" style="visibility: visible;">
                  <p><span>消息中心</span></p>
                </div>
              </div>

              <!-- Unnamed (形状) -->
              <div id="u8501" class="ax_default icon">
                <img id="u8501_img" class="img " src="images/首页-店铺/u161.png"/>
                <!-- Unnamed () -->
                <div id="u8502" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u8503" class="ax_default _三级标题">
              <div id="u8503_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u8504" class="text" style="visibility: visible;">
                <p><span>账单流水</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u8505" class="ax_default _三级标题">
              <div id="u8505_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u8506" class="text" style="visibility: visible;">
                <p><span>系统公告</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u8507" class="ax_default _三级标题">
              <div id="u8507_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u8508" class="text" style="visibility: visible;">
                <p><span>群发消息</span></p>
              </div>
            </div>

            <!-- Unnamed (热区) -->
            <div id="u8509" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u8510" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u8511" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u8512" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u8513" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u8514" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u8515" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u8516" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u8517" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u8518" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u8519" class="ax_default">
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u8520" class="ax_default label">
              <div id="u8520_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u8521" class="text" style="visibility: visible;">
                <p><span>店铺名称</span></p>
              </div>
            </div>

            <!-- Unnamed (热区) -->
            <div id="u8522" class="ax_default">
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (主横幅Banner) -->

      <!-- Unnamed (图片) -->
      <div id="u8524" class="ax_default image">
        <img id="u8524_img" class="img " src="images/首页-店铺/u214.png"/>
        <!-- Unnamed () -->
        <div id="u8525" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (椭圆形) -->
      <div id="u8526" class="ax_default ellipse">
        <img id="u8526_img" class="img " src="images/首页-店铺/u216.png"/>
        <!-- Unnamed () -->
        <div id="u8527" class="text" style="visibility: visible;">
          <p><span>X</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8528" class="ax_default box_2">
        <div id="u8528_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8529" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8530" class="ax_default box_3">
        <div id="u8530_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8531" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8532" class="ax_default _三级标题">
        <div id="u8532_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8533" class="text" style="visibility: visible;">
          <p><span>标题</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8534" class="ax_default _三级标题">
        <div id="u8534_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8535" class="text" style="visibility: visible;">
          <p><span>发送时间</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8536" class="ax_default label">
        <div id="u8536_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8537" class="text" style="visibility: visible;">
          <p><span>新吃货强力更新v1.5版本！助力您成就餐饮霸业！</span></p>
        </div>
      </div>

      <!-- Unnamed (复选框) -->
      <div id="u8538" class="ax_default checkbox">
        <label for="u8538_input">
          <!-- Unnamed () -->
          <div id="u8539" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </label>
        <input id="u8538_input" type="checkbox" value="checkbox"/>
      </div>

      <!-- Unnamed (复选框) -->
      <div id="u8540" class="ax_default checkbox">
        <label for="u8540_input">
          <!-- Unnamed () -->
          <div id="u8541" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </label>
        <input id="u8540_input" type="checkbox" value="checkbox"/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8542" class="ax_default label">
        <div id="u8542_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8543" class="text" style="visibility: visible;">
          <p><span>2017-09-08&nbsp; 14:00:00</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8544" class="ax_default label">
        <div id="u8544_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8545" class="text" style="visibility: visible;">
          <p><span>新吃货强力更新v1.5版本！助力您成就餐饮霸业！</span></p>
        </div>
      </div>

      <!-- Unnamed (复选框) -->
      <div id="u8546" class="ax_default checkbox">
        <label for="u8546_input">
          <!-- Unnamed () -->
          <div id="u8547" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </label>
        <input id="u8546_input" type="checkbox" value="checkbox"/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8548" class="ax_default label">
        <div id="u8548_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8549" class="text" style="visibility: visible;">
          <p><span>2018-01-01&nbsp; 12:00:00</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8550" class="ax_default _三级标题">
        <div id="u8550_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8551" class="text" style="visibility: visible;">
          <p><span>状态</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8552" class="ax_default label">
        <div id="u8552_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8553" class="text" style="visibility: visible;">
          <p><span>已发出</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8554" class="ax_default label">
        <div id="u8554_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8555" class="text" style="visibility: visible;">
          <p><span>待发出</span></p>
        </div>
      </div>

      <!-- Unnamed (占位符) -->
      <div id="u8556" class="ax_default placeholder">
        <img id="u8556_img" class="img " src="images/打印机管理/u6658.png"/>
        <!-- Unnamed () -->
        <div id="u8557" class="text" style="visibility: visible;">
          <p><span>分页控件</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8558" class="ax_default box_1">
        <div id="u8558_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8559" class="text" style="visibility: visible;">
          <p><span>删除</span></p>
        </div>
      </div>

      <!-- Unnamed (下拉列表框) -->
      <div id="u8560" class="ax_default droplist">
        <select id="u8560_input">
          <option selected value="全部">全部</option>
          <option value="已发出">已发出</option>
          <option value="待发出">待发出</option>
        </select>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8561" class="ax_default label">
        <div id="u8561_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8562" class="text" style="visibility: visible;">
          <p><span>状态</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8563" class="ax_default box_1">
        <div id="u8563_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8564" class="text" style="visibility: visible;">
          <p><span>删除待发出的消息，消息到达发送时间将不再发出，确认删除？</span></p><p><span><br></span></p><p><span><br></span></p><p><span><br></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8565" class="ax_default box_1">
        <div id="u8565_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8566" class="text" style="visibility: visible;">
          <p><span>删除</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8567" class="ax_default box_1">
        <div id="u8567_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8568" class="text" style="visibility: visible;">
          <p><span>取消</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8569" class="ax_default label">
        <div id="u8569_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8570" class="text" style="visibility: visible;">
          <p><span style="font-family:'ArialMT', 'Arial';">1 </span><span style="font-family:'PingFangSC-Regular', 'PingFang SC';">删除“待发出”状态的消息时提示：</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8571" class="ax_default box_1">
        <div id="u8571_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8572" class="text" style="visibility: visible;">
          <p><span>发消息</span></p>
        </div>
      </div>
    </div>
  </body>
</html>
