<!DOCTYPE html>
<html>
  <head>
    <title>职级管理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/职级管理/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/ie.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="files/职级管理/data.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (矩形) -->
      <div id="u12131" class="ax_default box_2">
        <div id="u12131_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u12132" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u12133" class="ax_default box_2">
        <div id="u12133_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u12134" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u12135" class="ax_default box_2">
        <div id="u12135_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u12136" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u12137" class="ax_default icon">
        <img id="u12137_img" class="img " src="images/添加职级信息/u11986.png"/>
        <!-- Unnamed () -->
        <div id="u12138" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u12139" class="ax_default label">
        <div id="u12139_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u12140" class="text" style="visibility: visible;">
          <p><span>admin</span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u12141" class="ax_default icon">
        <img id="u12141_img" class="img " src="images/添加职级信息/u11990.png"/>
        <!-- Unnamed () -->
        <div id="u12142" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u12143" class="ax_default icon">
        <img id="u12143_img" class="img " src="images/员工管理/u2692.png"/>
        <!-- Unnamed () -->
        <div id="u12144" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u12145" class="ax_default _图片">
        <img id="u12145_img" class="img " src="images/添加职级信息/u11994.png"/>
        <!-- Unnamed () -->
        <div id="u12146" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u12147" class="ax_default">

        <!-- Unnamed (形状) -->
        <div id="u12148" class="ax_default icon">
          <img id="u12148_img" class="img " src="images/添加职级信息/u11997.png"/>
          <!-- Unnamed () -->
          <div id="u12149" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u12150" class="ax_default label">
          <div id="u12150_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u12151" class="text" style="visibility: visible;">
            <p><span>系统消息通知系统消息通知滚（滚动）</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u12152" class="ax_default icon">
        <img id="u12152_img" class="img " src="images/员工管理/u2692.png"/>
        <!-- Unnamed () -->
        <div id="u12153" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u12154" class="ax_default _三级标题">
        <div id="u12154_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u12155" class="text" style="visibility: visible;">
          <p><span>职级</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u12156" class="ax_default label">
        <div id="u12156_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u12157" class="text" style="visibility: visible;">
          <p><span>店长（默认）</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u12158" class="ax_default label">
        <div id="u12158_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u12159" class="text" style="visibility: visible;">
          <p><span>收银员(默认)</span></p>
        </div>
      </div>

      <!-- Unnamed (侧边主导航) -->

      <!-- Unnamed (动态面板) -->
      <div id="u12161" class="ax_default">
        <div id="u12161_state0" class="panel_state" data-label="State1">
          <div id="u12161_state0_content" class="panel_state_content">

            <!-- Unnamed (矩形) -->
            <div id="u12162" class="ax_default box_2">
              <div id="u12162_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u12163" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (图片) -->
            <div id="u12164" class="ax_default _图片">
              <img id="u12164_img" class="img " src="images/首页-店铺/u147.png"/>
              <!-- Unnamed () -->
              <div id="u12165" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (组合) -->
            <div id="u12166" class="ax_default">

              <!-- Unnamed (矩形) -->
              <div id="u12167" class="ax_default _三级标题">
                <div id="u12167_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u12168" class="text" style="visibility: visible;">
                  <p><span>首页</span></p>
                </div>
              </div>

              <!-- Unnamed (形状) -->
              <div id="u12169" class="ax_default icon">
                <img id="u12169_img" class="img " src="images/首页-店铺/u152.png"/>
                <!-- Unnamed () -->
                <div id="u12170" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u12171" class="ax_default _三级标题">
              <div id="u12171_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u12172" class="text" style="visibility: visible;">
                <p><span>店铺信息</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u12173" class="ax_default _三级标题">
              <div id="u12173_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u12174" class="text" style="visibility: visible;">
                <p><span>员工管理</span></p>
              </div>
            </div>

            <!-- Unnamed (组合) -->
            <div id="u12175" class="ax_default">

              <!-- Unnamed (矩形) -->
              <div id="u12176" class="ax_default _三级标题">
                <div id="u12176_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u12177" class="text" style="visibility: visible;">
                  <p><span>店铺管理</span></p>
                </div>
              </div>

              <!-- Unnamed (形状) -->
              <div id="u12178" class="ax_default icon">
                <img id="u12178_img" class="img " src="images/首页-店铺/u161.png"/>
                <!-- Unnamed () -->
                <div id="u12179" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u12180" class="ax_default _三级标题">
              <div id="u12180_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u12181" class="text" style="visibility: visible;">
                <p><span>菜品管理</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u12182" class="ax_default _三级标题">
              <div id="u12182_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u12183" class="text" style="visibility: visible;">
                <p><span>客户管理</span></p>
              </div>
            </div>

            <!-- Unnamed (占位符) -->
            <div id="u12184" class="ax_default placeholder">
              <img id="u12184_img" class="img " src="images/首页-店铺/u167.png"/>
              <!-- Unnamed () -->
              <div id="u12185" class="text" style="visibility: visible;">
                <p><span>logo赛领点餐系统平台</span></p>
              </div>
            </div>

            <!-- Unnamed (热区) -->
            <div id="u12186" class="ax_default">
            </div>

            <!-- Unnamed (下拉列表框) -->
            <div id="u12187" class="ax_default droplist">
              <select id="u12187_input">
                <option selected value="     店铺名称1">&nbsp;&nbsp; &nbsp; 店铺名称1</option>
              </select>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u12188" class="ax_default box_2">
              <div id="u12188_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u12189" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u12190" class="ax_default _三级标题">
              <div id="u12190_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u12191" class="text" style="visibility: visible;">
                <p><span>餐桌管理</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u12192" class="ax_default _三级标题">
              <div id="u12192_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u12193" class="text" style="visibility: visible;">
                <p><span>订单报表</span></p>
              </div>
            </div>

            <!-- Unnamed (组合) -->
            <div id="u12194" class="ax_default">

              <!-- Unnamed (矩形) -->
              <div id="u12195" class="ax_default _三级标题">
                <div id="u12195_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u12196" class="text" style="visibility: visible;">
                  <p><span>统计报表</span></p>
                </div>
              </div>

              <!-- Unnamed (形状) -->
              <div id="u12197" class="ax_default icon">
                <img id="u12197_img" class="img " src="images/首页-店铺/u161.png"/>
                <!-- Unnamed () -->
                <div id="u12198" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u12199" class="ax_default _三级标题">
              <div id="u12199_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u12200" class="text" style="visibility: visible;">
                <p><span>预订报表</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u12201" class="ax_default _三级标题">
              <div id="u12201_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u12202" class="text" style="visibility: visible;">
                <p><span>打印机管理</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u12203" class="ax_default _三级标题">
              <div id="u12203_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u12204" class="text" style="visibility: visible;">
                <p><span>收银设置</span></p>
              </div>
            </div>

            <!-- Unnamed (组合) -->
            <div id="u12205" class="ax_default">

              <!-- Unnamed (矩形) -->
              <div id="u12206" class="ax_default _三级标题">
                <div id="u12206_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u12207" class="text" style="visibility: visible;">
                  <p><span>消息中心</span></p>
                </div>
              </div>

              <!-- Unnamed (形状) -->
              <div id="u12208" class="ax_default icon">
                <img id="u12208_img" class="img " src="images/首页-店铺/u161.png"/>
                <!-- Unnamed () -->
                <div id="u12209" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u12210" class="ax_default _三级标题">
              <div id="u12210_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u12211" class="text" style="visibility: visible;">
                <p><span>账单流水</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u12212" class="ax_default _三级标题">
              <div id="u12212_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u12213" class="text" style="visibility: visible;">
                <p><span>系统公告</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u12214" class="ax_default _三级标题">
              <div id="u12214_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u12215" class="text" style="visibility: visible;">
                <p><span>群发消息</span></p>
              </div>
            </div>

            <!-- Unnamed (热区) -->
            <div id="u12216" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u12217" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u12218" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u12219" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u12220" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u12221" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u12222" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u12223" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u12224" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u12225" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u12226" class="ax_default">
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u12227" class="ax_default label">
              <div id="u12227_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u12228" class="text" style="visibility: visible;">
                <p><span>店铺名称</span></p>
              </div>
            </div>

            <!-- Unnamed (热区) -->
            <div id="u12229" class="ax_default">
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u12230" class="ax_default box_2">
        <div id="u12230_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u12231" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u12232" class="ax_default _三级标题">
        <div id="u12232_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u12233" class="text" style="visibility: visible;">
          <p><span>员工管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u12234" class="ax_default _三级标题">
        <div id="u12234_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u12235" class="text" style="visibility: visible;">
          <p><span>职级管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u12236" class="ax_default box_2">
        <div id="u12236_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u12237" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u12238" class="ax_default">

        <!-- Unnamed (矩形) -->
        <div id="u12239" class="ax_default button">
          <div id="u12239_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u12240" class="text" style="visibility: visible;">
            <p><span>+添加职级</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u12241" class="ax_default _三级标题">
        <div id="u12241_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u12242" class="text" style="visibility: visible;">
          <p><span>权限</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u12243" class="ax_default label">
        <div id="u12243_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u12244" class="text" style="visibility: visible;">
          <p><span>收银、点餐、折扣</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u12245" class="ax_default label">
        <div id="u12245_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u12246" class="text" style="visibility: visible;">
          <p><span>收银、点餐、折扣</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u12247" class="ax_default _三级标题">
        <div id="u12247_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u12248" class="text" style="visibility: visible;">
          <p><span>操作</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u12249" class="ax_default label">
        <div id="u12249_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u12250" class="text" style="visibility: visible;">
          <p><span style="text-decoration:underline;">编辑</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u12251" class="ax_default label">
        <div id="u12251_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u12252" class="text" style="visibility: visible;">
          <p><span style="text-decoration:underline;">编辑</span></p>
        </div>
      </div>

      <!-- Unnamed (水平线) -->
      <div id="u12253" class="ax_default line">
        <img id="u12253_img" class="img " src="images/菜品编辑/u4855.png"/>
        <!-- Unnamed () -->
        <div id="u12254" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u12255" class="ax_default label">
        <div id="u12255_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u12256" class="text" style="visibility: visible;">
          <p><span>服务员(默认)</span></p>
        </div>
      </div>

      <!-- Unnamed (水平线) -->
      <div id="u12257" class="ax_default line">
        <img id="u12257_img" class="img " src="images/菜品编辑/u4855.png"/>
        <!-- Unnamed () -->
        <div id="u12258" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (水平线) -->
      <div id="u12259" class="ax_default line">
        <img id="u12259_img" class="img " src="images/菜品编辑/u4855.png"/>
        <!-- Unnamed () -->
        <div id="u12260" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (水平线) -->
      <div id="u12261" class="ax_default line">
        <img id="u12261_img" class="img " src="images/菜品编辑/u4855.png"/>
        <!-- Unnamed () -->
        <div id="u12262" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u12263" class="ax_default label">
        <div id="u12263_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u12264" class="text" style="visibility: visible;">
          <p><span>收银、点餐、折扣</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u12265" class="ax_default label">
        <div id="u12265_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u12266" class="text" style="visibility: visible;">
          <p><span style="text-decoration:underline;">编辑</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u12267" class="ax_default label">
        <div id="u12267_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u12268" class="text" style="visibility: visible;">
          <p><span style="text-decoration:underline;">删除</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u12269" class="ax_default label">
        <div id="u12269_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u12270" class="text" style="visibility: visible;">
          <p><span style="text-decoration:underline;">编辑</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u12271" class="ax_default label">
        <div id="u12271_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u12272" class="text" style="visibility: visible;">
          <p><span>清洁员</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u12273" class="ax_default label">
        <div id="u12273_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u12274" class="text" style="visibility: visible;">
          <p><span>打扫</span></p>
        </div>
      </div>

      <!-- Unnamed (水平线) -->
      <div id="u12275" class="ax_default line">
        <img id="u12275_img" class="img " src="images/菜品编辑/u4855.png"/>
        <!-- Unnamed () -->
        <div id="u12276" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (热区) -->
      <div id="u12277" class="ax_default">
      </div>

      <!-- Unnamed (热区) -->
      <div id="u12278" class="ax_default">
      </div>

      <!-- Unnamed (热区) -->
      <div id="u12279" class="ax_default">
      </div>

      <!-- Unnamed (热区) -->
      <div id="u12280" class="ax_default">
      </div>
    </div>
  </body>
</html>
