<!DOCTYPE html>
<html>
  <head>
    <title>草稿箱</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/草稿箱_1/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/ie.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="files/草稿箱_1/data.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (组合模板) -->

      <!-- Unnamed (背景) -->

      <!-- Unnamed (矩形) -->
      <div id="u8695" class="ax_default box_2">
        <div id="u8695_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8696" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (主标题) -->

      <!-- Unnamed (矩形) -->
      <div id="u8698" class="ax_default box_2">
        <div id="u8698_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8699" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (组合) -->
      <div id="u8700" class="ax_default">

        <!-- Unnamed (形状) -->
        <div id="u8701" class="ax_default icon">
          <img id="u8701_img" class="img " src="images/首页-店铺/u131.png"/>
          <!-- Unnamed () -->
          <div id="u8702" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u8703" class="ax_default label">
          <div id="u8703_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u8704" class="text" style="visibility: visible;">
            <p><span>admin</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u8705" class="ax_default icon">
        <img id="u8705_img" class="img " src="images/首页-店铺/u135.png"/>
        <!-- Unnamed () -->
        <div id="u8706" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u8707" class="ax_default icon" title="系统消息">
        <img id="u8707_img" class="img " src="images/首页-店铺/u137.png"/>
        <!-- Unnamed () -->
        <div id="u8708" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u8709" class="ax_default icon" title="退出">
        <img id="u8709_img" class="img " src="images/首页-店铺/u139.png"/>
        <!-- Unnamed () -->
        <div id="u8710" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (形状) -->
      <div id="u8711" class="ax_default icon" title="修改密码">
        <img id="u8711_img" class="img " src="images/首页-店铺/u141.png"/>
        <!-- Unnamed () -->
        <div id="u8712" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (侧边主导航) -->

      <!-- Unnamed (动态面板) -->
      <div id="u8714" class="ax_default">
        <div id="u8714_state0" class="panel_state" data-label="State1">
          <div id="u8714_state0_content" class="panel_state_content">

            <!-- Unnamed (矩形) -->
            <div id="u8715" class="ax_default box_2">
              <div id="u8715_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u8716" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (图片) -->
            <div id="u8717" class="ax_default _图片">
              <img id="u8717_img" class="img " src="images/首页-店铺/u147.png"/>
              <!-- Unnamed () -->
              <div id="u8718" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (组合) -->
            <div id="u8719" class="ax_default">

              <!-- Unnamed (矩形) -->
              <div id="u8720" class="ax_default _三级标题">
                <div id="u8720_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u8721" class="text" style="visibility: visible;">
                  <p><span>首页</span></p>
                </div>
              </div>

              <!-- Unnamed (形状) -->
              <div id="u8722" class="ax_default icon">
                <img id="u8722_img" class="img " src="images/首页-店铺/u152.png"/>
                <!-- Unnamed () -->
                <div id="u8723" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u8724" class="ax_default _三级标题">
              <div id="u8724_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u8725" class="text" style="visibility: visible;">
                <p><span>店铺信息</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u8726" class="ax_default _三级标题">
              <div id="u8726_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u8727" class="text" style="visibility: visible;">
                <p><span>员工管理</span></p>
              </div>
            </div>

            <!-- Unnamed (组合) -->
            <div id="u8728" class="ax_default">

              <!-- Unnamed (矩形) -->
              <div id="u8729" class="ax_default _三级标题">
                <div id="u8729_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u8730" class="text" style="visibility: visible;">
                  <p><span>店铺管理</span></p>
                </div>
              </div>

              <!-- Unnamed (形状) -->
              <div id="u8731" class="ax_default icon">
                <img id="u8731_img" class="img " src="images/首页-店铺/u161.png"/>
                <!-- Unnamed () -->
                <div id="u8732" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u8733" class="ax_default _三级标题">
              <div id="u8733_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u8734" class="text" style="visibility: visible;">
                <p><span>菜品管理</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u8735" class="ax_default _三级标题">
              <div id="u8735_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u8736" class="text" style="visibility: visible;">
                <p><span>客户管理</span></p>
              </div>
            </div>

            <!-- Unnamed (占位符) -->
            <div id="u8737" class="ax_default placeholder">
              <img id="u8737_img" class="img " src="images/首页-店铺/u167.png"/>
              <!-- Unnamed () -->
              <div id="u8738" class="text" style="visibility: visible;">
                <p><span>logo赛领点餐系统平台</span></p>
              </div>
            </div>

            <!-- Unnamed (热区) -->
            <div id="u8739" class="ax_default">
            </div>

            <!-- Unnamed (下拉列表框) -->
            <div id="u8740" class="ax_default droplist">
              <select id="u8740_input">
                <option selected value="     店铺名称1">&nbsp;&nbsp; &nbsp; 店铺名称1</option>
              </select>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u8741" class="ax_default box_2">
              <div id="u8741_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u8742" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u8743" class="ax_default _三级标题">
              <div id="u8743_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u8744" class="text" style="visibility: visible;">
                <p><span>餐桌管理</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u8745" class="ax_default _三级标题">
              <div id="u8745_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u8746" class="text" style="visibility: visible;">
                <p><span>订单报表</span></p>
              </div>
            </div>

            <!-- Unnamed (组合) -->
            <div id="u8747" class="ax_default">

              <!-- Unnamed (矩形) -->
              <div id="u8748" class="ax_default _三级标题">
                <div id="u8748_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u8749" class="text" style="visibility: visible;">
                  <p><span>统计报表</span></p>
                </div>
              </div>

              <!-- Unnamed (形状) -->
              <div id="u8750" class="ax_default icon">
                <img id="u8750_img" class="img " src="images/首页-店铺/u161.png"/>
                <!-- Unnamed () -->
                <div id="u8751" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u8752" class="ax_default _三级标题">
              <div id="u8752_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u8753" class="text" style="visibility: visible;">
                <p><span>预订报表</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u8754" class="ax_default _三级标题">
              <div id="u8754_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u8755" class="text" style="visibility: visible;">
                <p><span>打印机管理</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u8756" class="ax_default _三级标题">
              <div id="u8756_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u8757" class="text" style="visibility: visible;">
                <p><span>收银设置</span></p>
              </div>
            </div>

            <!-- Unnamed (组合) -->
            <div id="u8758" class="ax_default">

              <!-- Unnamed (矩形) -->
              <div id="u8759" class="ax_default _三级标题">
                <div id="u8759_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u8760" class="text" style="visibility: visible;">
                  <p><span>消息中心</span></p>
                </div>
              </div>

              <!-- Unnamed (形状) -->
              <div id="u8761" class="ax_default icon">
                <img id="u8761_img" class="img " src="images/首页-店铺/u161.png"/>
                <!-- Unnamed () -->
                <div id="u8762" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u8763" class="ax_default _三级标题">
              <div id="u8763_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u8764" class="text" style="visibility: visible;">
                <p><span>账单流水</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u8765" class="ax_default _三级标题">
              <div id="u8765_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u8766" class="text" style="visibility: visible;">
                <p><span>系统公告</span></p>
              </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u8767" class="ax_default _三级标题">
              <div id="u8767_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u8768" class="text" style="visibility: visible;">
                <p><span>群发消息</span></p>
              </div>
            </div>

            <!-- Unnamed (热区) -->
            <div id="u8769" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u8770" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u8771" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u8772" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u8773" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u8774" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u8775" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u8776" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u8777" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u8778" class="ax_default">
            </div>

            <!-- Unnamed (热区) -->
            <div id="u8779" class="ax_default">
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u8780" class="ax_default label">
              <div id="u8780_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u8781" class="text" style="visibility: visible;">
                <p><span>店铺名称</span></p>
              </div>
            </div>

            <!-- Unnamed (热区) -->
            <div id="u8782" class="ax_default">
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (主横幅Banner) -->

      <!-- Unnamed (图片) -->
      <div id="u8784" class="ax_default image">
        <img id="u8784_img" class="img " src="images/首页-店铺/u214.png"/>
        <!-- Unnamed () -->
        <div id="u8785" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (椭圆形) -->
      <div id="u8786" class="ax_default ellipse">
        <img id="u8786_img" class="img " src="images/首页-店铺/u216.png"/>
        <!-- Unnamed () -->
        <div id="u8787" class="text" style="visibility: visible;">
          <p><span>X</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8788" class="ax_default box_2">
        <div id="u8788_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8789" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8790" class="ax_default box_1">
        <div id="u8790_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8791" class="text" style="visibility: visible;">
          <p><span>返回</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8792" class="ax_default box_3">
        <div id="u8792_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8793" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8794" class="ax_default _三级标题">
        <div id="u8794_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8795" class="text" style="visibility: visible;">
          <p><span>标题</span></p>
        </div>
      </div>

      <!-- Unnamed (占位符) -->
      <div id="u8796" class="ax_default placeholder">
        <img id="u8796_img" class="img " src="images/打印机管理/u6658.png"/>
        <!-- Unnamed () -->
        <div id="u8797" class="text" style="visibility: visible;">
          <p><span>分页控件</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8798" class="ax_default _三级标题">
        <div id="u8798_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8799" class="text" style="visibility: visible;">
          <p><span>储存时间</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8800" class="ax_default label">
        <div id="u8800_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8801" class="text" style="visibility: visible;">
          <p><span>新吃货强力更新v1.5版本！助力您成就餐饮霸业！</span></p>
        </div>
      </div>

      <!-- Unnamed (复选框) -->
      <div id="u8802" class="ax_default checkbox">
        <label for="u8802_input">
          <!-- Unnamed () -->
          <div id="u8803" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </label>
        <input id="u8802_input" type="checkbox" value="checkbox"/>
      </div>

      <!-- Unnamed (复选框) -->
      <div id="u8804" class="ax_default checkbox">
        <label for="u8804_input">
          <!-- Unnamed () -->
          <div id="u8805" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </label>
        <input id="u8804_input" type="checkbox" value="checkbox"/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8806" class="ax_default label">
        <div id="u8806_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8807" class="text" style="visibility: visible;">
          <p><span>2017-09-08&nbsp; 14:00</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8808" class="ax_default label">
        <div id="u8808_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8809" class="text" style="visibility: visible;">
          <p><span>新吃货强力更新v1.5版本！助力您成就餐饮霸业！</span></p>
        </div>
      </div>

      <!-- Unnamed (复选框) -->
      <div id="u8810" class="ax_default checkbox">
        <label for="u8810_input">
          <!-- Unnamed () -->
          <div id="u8811" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </label>
        <input id="u8810_input" type="checkbox" value="checkbox"/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8812" class="ax_default label">
        <div id="u8812_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8813" class="text" style="visibility: visible;">
          <p><span>2017-09-08&nbsp; 14:00</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u8814" class="ax_default box_1">
        <div id="u8814_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u8815" class="text" style="visibility: visible;">
          <p><span>删除</span></p>
        </div>
      </div>
    </div>
  </body>
</html>
