<!DOCTYPE html>
<html>
  <head>
    <title>草稿箱</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/草稿箱/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/ie.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="files/草稿箱/data.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (组合) -->
      <div id="u3821" class="ax_default">

        <!-- 模态窗 (动态面板) -->
        <div id="u3822" class="ax_default ax_default_hidden" data-label="模态窗" style="display: none; visibility: hidden">
          <div id="u3822_state0" class="panel_state" data-label="创建商品分类">
            <div id="u3822_state0_content" class="panel_state_content">

              <!-- Unnamed (矩形) -->
              <div id="u3823" class="ax_default box_2">
                <div id="u3823_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u3824" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u3825" class="ax_default box_1">
                <div id="u3825_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u3826" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (内联框架) -->
              <div id="u3827" class="ax_default">
                <iframe id="u3827_input" scrolling="no" frameborder="0"></iframe>
              </div>

              <!-- Unnamed (椭圆形) -->
              <div id="u3828" class="ax_default ellipse">
                <img id="u3828_img" class="img " src="images/店铺信息（修改）/u1157.png"/>
                <!-- Unnamed () -->
                <div id="u3829" class="text" style="visibility: visible;">
                  <p><span>X</span></p>
                </div>
              </div>
            </div>
          </div>
          <div id="u3822_state1" class="panel_state" data-label="创建菜品分类">
            <div id="u3822_state1_content" class="panel_state_content">

              <!-- Unnamed (矩形) -->
              <div id="u3830" class="ax_default box_2">
                <div id="u3830_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u3831" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u3832" class="ax_default box_1">
                <div id="u3832_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u3833" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (内联框架) -->
              <div id="u3834" class="ax_default">
                <iframe id="u3834_input" scrolling="no" frameborder="0"></iframe>
              </div>

              <!-- Unnamed (椭圆形) -->
              <div id="u3835" class="ax_default ellipse">
                <img id="u3835_img" class="img " src="images/店铺信息（修改）/u1157.png"/>
                <!-- Unnamed () -->
                <div id="u3836" class="text" style="visibility: visible;">
                  <p><span>X</span></p>
                </div>
              </div>
            </div>
          </div>
          <div id="u3822_state2" class="panel_state" data-label="创建酒水分类1">
            <div id="u3822_state2_content" class="panel_state_content">

              <!-- Unnamed (矩形) -->
              <div id="u3837" class="ax_default box_2">
                <div id="u3837_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u3838" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u3839" class="ax_default box_1">
                <div id="u3839_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u3840" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (内联框架) -->
              <div id="u3841" class="ax_default">
                <iframe id="u3841_input" scrolling="no" frameborder="0"></iframe>
              </div>

              <!-- Unnamed (椭圆形) -->
              <div id="u3842" class="ax_default ellipse">
                <img id="u3842_img" class="img " src="images/店铺信息（修改）/u1157.png"/>
                <!-- Unnamed () -->
                <div id="u3843" class="text" style="visibility: visible;">
                  <p><span>X</span></p>
                </div>
              </div>
            </div>
          </div>
          <div id="u3822_state3" class="panel_state" data-label="创建酒水分类2">
            <div id="u3822_state3_content" class="panel_state_content">

              <!-- Unnamed (矩形) -->
              <div id="u3844" class="ax_default box_2">
                <div id="u3844_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u3845" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u3846" class="ax_default box_1">
                <div id="u3846_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u3847" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (内联框架) -->
              <div id="u3848" class="ax_default">
                <iframe id="u3848_input" scrolling="no" frameborder="0"></iframe>
              </div>

              <!-- Unnamed (椭圆形) -->
              <div id="u3849" class="ax_default ellipse">
                <img id="u3849_img" class="img " src="images/店铺信息（修改）/u1157.png"/>
                <!-- Unnamed () -->
                <div id="u3850" class="text" style="visibility: visible;">
                  <p><span>X</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Unnamed (形状) -->
        <div id="u3851" class="ax_default icon">
          <img id="u3851_img" class="img " src="images/菜品管理/u3362.png"/>
          <!-- Unnamed () -->
          <div id="u3852" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u3853" class="ax_default label">
          <div id="u3853_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u3854" class="text" style="visibility: visible;">
            <p><span>admin</span></p>
          </div>
        </div>

        <!-- Unnamed (形状) -->
        <div id="u3855" class="ax_default icon">
          <img id="u3855_img" class="img " src="images/菜品管理/u3366.png"/>
          <!-- Unnamed () -->
          <div id="u3856" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (形状) -->
        <div id="u3857" class="ax_default icon">
          <img id="u3857_img" class="img " src="images/菜品管理/u3368.png"/>
          <!-- Unnamed () -->
          <div id="u3858" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (组合) -->
        <div id="u3859" class="ax_default">
        </div>

        <!-- Unnamed (组合模板) -->

        <!-- Unnamed (背景) -->

        <!-- Unnamed (矩形) -->
        <div id="u3862" class="ax_default box_2">
          <div id="u3862_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u3863" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (主标题) -->

        <!-- Unnamed (矩形) -->
        <div id="u3865" class="ax_default box_2">
          <div id="u3865_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u3866" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (组合) -->
        <div id="u3867" class="ax_default">

          <!-- Unnamed (形状) -->
          <div id="u3868" class="ax_default icon">
            <img id="u3868_img" class="img " src="images/首页-店铺/u131.png"/>
            <!-- Unnamed () -->
            <div id="u3869" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u3870" class="ax_default label">
            <div id="u3870_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u3871" class="text" style="visibility: visible;">
              <p><span>admin</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (形状) -->
        <div id="u3872" class="ax_default icon">
          <img id="u3872_img" class="img " src="images/首页-店铺/u135.png"/>
          <!-- Unnamed () -->
          <div id="u3873" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (形状) -->
        <div id="u3874" class="ax_default icon" title="系统消息">
          <img id="u3874_img" class="img " src="images/首页-店铺/u137.png"/>
          <!-- Unnamed () -->
          <div id="u3875" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (形状) -->
        <div id="u3876" class="ax_default icon" title="退出">
          <img id="u3876_img" class="img " src="images/首页-店铺/u139.png"/>
          <!-- Unnamed () -->
          <div id="u3877" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (形状) -->
        <div id="u3878" class="ax_default icon" title="修改密码">
          <img id="u3878_img" class="img " src="images/首页-店铺/u141.png"/>
          <!-- Unnamed () -->
          <div id="u3879" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (侧边主导航) -->

        <!-- Unnamed (动态面板) -->
        <div id="u3881" class="ax_default">
          <div id="u3881_state0" class="panel_state" data-label="State1">
            <div id="u3881_state0_content" class="panel_state_content">

              <!-- Unnamed (矩形) -->
              <div id="u3882" class="ax_default box_2">
                <div id="u3882_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u3883" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (图片) -->
              <div id="u3884" class="ax_default _图片">
                <img id="u3884_img" class="img " src="images/首页-店铺/u147.png"/>
                <!-- Unnamed () -->
                <div id="u3885" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (组合) -->
              <div id="u3886" class="ax_default">

                <!-- Unnamed (矩形) -->
                <div id="u3887" class="ax_default _三级标题">
                  <div id="u3887_div" class=""></div>
                  <!-- Unnamed () -->
                  <div id="u3888" class="text" style="visibility: visible;">
                    <p><span>首页</span></p>
                  </div>
                </div>

                <!-- Unnamed (形状) -->
                <div id="u3889" class="ax_default icon">
                  <img id="u3889_img" class="img " src="images/首页-店铺/u152.png"/>
                  <!-- Unnamed () -->
                  <div id="u3890" class="text" style="display: none; visibility: hidden">
                    <p><span></span></p>
                  </div>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u3891" class="ax_default _三级标题">
                <div id="u3891_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u3892" class="text" style="visibility: visible;">
                  <p><span>店铺信息</span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u3893" class="ax_default _三级标题">
                <div id="u3893_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u3894" class="text" style="visibility: visible;">
                  <p><span>员工管理</span></p>
                </div>
              </div>

              <!-- Unnamed (组合) -->
              <div id="u3895" class="ax_default">

                <!-- Unnamed (矩形) -->
                <div id="u3896" class="ax_default _三级标题">
                  <div id="u3896_div" class=""></div>
                  <!-- Unnamed () -->
                  <div id="u3897" class="text" style="visibility: visible;">
                    <p><span>店铺管理</span></p>
                  </div>
                </div>

                <!-- Unnamed (形状) -->
                <div id="u3898" class="ax_default icon">
                  <img id="u3898_img" class="img " src="images/首页-店铺/u161.png"/>
                  <!-- Unnamed () -->
                  <div id="u3899" class="text" style="display: none; visibility: hidden">
                    <p><span></span></p>
                  </div>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u3900" class="ax_default _三级标题">
                <div id="u3900_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u3901" class="text" style="visibility: visible;">
                  <p><span>菜品管理</span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u3902" class="ax_default _三级标题">
                <div id="u3902_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u3903" class="text" style="visibility: visible;">
                  <p><span>客户管理</span></p>
                </div>
              </div>

              <!-- Unnamed (占位符) -->
              <div id="u3904" class="ax_default placeholder">
                <img id="u3904_img" class="img " src="images/首页-店铺/u167.png"/>
                <!-- Unnamed () -->
                <div id="u3905" class="text" style="visibility: visible;">
                  <p><span>logo赛领点餐系统平台</span></p>
                </div>
              </div>

              <!-- Unnamed (热区) -->
              <div id="u3906" class="ax_default">
              </div>

              <!-- Unnamed (下拉列表框) -->
              <div id="u3907" class="ax_default droplist">
                <select id="u3907_input">
                  <option selected value="     店铺名称1">&nbsp;&nbsp; &nbsp; 店铺名称1</option>
                </select>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u3908" class="ax_default box_2">
                <div id="u3908_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u3909" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u3910" class="ax_default _三级标题">
                <div id="u3910_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u3911" class="text" style="visibility: visible;">
                  <p><span>餐桌管理</span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u3912" class="ax_default _三级标题">
                <div id="u3912_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u3913" class="text" style="visibility: visible;">
                  <p><span>订单报表</span></p>
                </div>
              </div>

              <!-- Unnamed (组合) -->
              <div id="u3914" class="ax_default">

                <!-- Unnamed (矩形) -->
                <div id="u3915" class="ax_default _三级标题">
                  <div id="u3915_div" class=""></div>
                  <!-- Unnamed () -->
                  <div id="u3916" class="text" style="visibility: visible;">
                    <p><span>统计报表</span></p>
                  </div>
                </div>

                <!-- Unnamed (形状) -->
                <div id="u3917" class="ax_default icon">
                  <img id="u3917_img" class="img " src="images/首页-店铺/u161.png"/>
                  <!-- Unnamed () -->
                  <div id="u3918" class="text" style="display: none; visibility: hidden">
                    <p><span></span></p>
                  </div>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u3919" class="ax_default _三级标题">
                <div id="u3919_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u3920" class="text" style="visibility: visible;">
                  <p><span>预订报表</span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u3921" class="ax_default _三级标题">
                <div id="u3921_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u3922" class="text" style="visibility: visible;">
                  <p><span>打印机管理</span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u3923" class="ax_default _三级标题">
                <div id="u3923_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u3924" class="text" style="visibility: visible;">
                  <p><span>收银设置</span></p>
                </div>
              </div>

              <!-- Unnamed (组合) -->
              <div id="u3925" class="ax_default">

                <!-- Unnamed (矩形) -->
                <div id="u3926" class="ax_default _三级标题">
                  <div id="u3926_div" class=""></div>
                  <!-- Unnamed () -->
                  <div id="u3927" class="text" style="visibility: visible;">
                    <p><span>消息中心</span></p>
                  </div>
                </div>

                <!-- Unnamed (形状) -->
                <div id="u3928" class="ax_default icon">
                  <img id="u3928_img" class="img " src="images/首页-店铺/u161.png"/>
                  <!-- Unnamed () -->
                  <div id="u3929" class="text" style="display: none; visibility: hidden">
                    <p><span></span></p>
                  </div>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u3930" class="ax_default _三级标题">
                <div id="u3930_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u3931" class="text" style="visibility: visible;">
                  <p><span>账单流水</span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u3932" class="ax_default _三级标题">
                <div id="u3932_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u3933" class="text" style="visibility: visible;">
                  <p><span>系统公告</span></p>
                </div>
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u3934" class="ax_default _三级标题">
                <div id="u3934_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u3935" class="text" style="visibility: visible;">
                  <p><span>群发消息</span></p>
                </div>
              </div>

              <!-- Unnamed (热区) -->
              <div id="u3936" class="ax_default">
              </div>

              <!-- Unnamed (热区) -->
              <div id="u3937" class="ax_default">
              </div>

              <!-- Unnamed (热区) -->
              <div id="u3938" class="ax_default">
              </div>

              <!-- Unnamed (热区) -->
              <div id="u3939" class="ax_default">
              </div>

              <!-- Unnamed (热区) -->
              <div id="u3940" class="ax_default">
              </div>

              <!-- Unnamed (热区) -->
              <div id="u3941" class="ax_default">
              </div>

              <!-- Unnamed (热区) -->
              <div id="u3942" class="ax_default">
              </div>

              <!-- Unnamed (热区) -->
              <div id="u3943" class="ax_default">
              </div>

              <!-- Unnamed (热区) -->
              <div id="u3944" class="ax_default">
              </div>

              <!-- Unnamed (热区) -->
              <div id="u3945" class="ax_default">
              </div>

              <!-- Unnamed (热区) -->
              <div id="u3946" class="ax_default">
              </div>

              <!-- Unnamed (矩形) -->
              <div id="u3947" class="ax_default label">
                <div id="u3947_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u3948" class="text" style="visibility: visible;">
                  <p><span>店铺名称</span></p>
                </div>
              </div>

              <!-- Unnamed (热区) -->
              <div id="u3949" class="ax_default">
              </div>
            </div>
          </div>
        </div>

        <!-- Unnamed (主横幅Banner) -->

        <!-- Unnamed (图片) -->
        <div id="u3951" class="ax_default image">
          <img id="u3951_img" class="img " src="images/首页-店铺/u214.png"/>
          <!-- Unnamed () -->
          <div id="u3952" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (椭圆形) -->
        <div id="u3953" class="ax_default ellipse">
          <img id="u3953_img" class="img " src="images/首页-店铺/u216.png"/>
          <!-- Unnamed () -->
          <div id="u3954" class="text" style="visibility: visible;">
            <p><span>X</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u3955" class="ax_default _三级标题">
          <div id="u3955_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u3956" class="text" style="visibility: visible;">
            <p><span>商品管理 &gt;&nbsp; </span><span style="color:#868686;">菜品草稿列表</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u3957" class="ax_default box_2">
          <div id="u3957_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u3958" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u3959" class="ax_default box_3">
          <div id="u3959_div" class=""></div>
          <!-- Unnamed () -->
          <div id="u3960" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (组合) -->
        <div id="u3961" class="ax_default">

          <!-- Unnamed (矩形) -->
          <div id="u3962" class="ax_default box_3">
            <div id="u3962_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u3963" class="text" style="visibility: visible;">
              <p><span>&nbsp;</span></p>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u3964" class="ax_default _三级标题">
            <div id="u3964_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u3965" class="text" style="visibility: visible;">
              <p><span>图片</span></p>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u3966" class="ax_default _三级标题">
            <div id="u3966_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u3967" class="text" style="visibility: visible;">
              <p><span>名称</span></p>
            </div>
          </div>

          <!-- Unnamed (组合) -->
          <div id="u3968" class="ax_default">

            <!-- Unnamed (矩形) -->
            <div id="u3969" class="ax_default _三级标题">
              <div id="u3969_div" class=""></div>
              <!-- Unnamed () -->
              <div id="u3970" class="text" style="visibility: visible;">
                <p><span>价格</span></p>
              </div>
            </div>

            <!-- Unnamed (组合) -->
            <div id="u3971" class="ax_default">

              <!-- Unnamed (Right Triangle) -->
              <div id="u3972" class="ax_default box_3">
                <img id="u3972_img" class="img " src="images/餐桌管理/u2965.png"/>
                <!-- Unnamed () -->
                <div id="u3973" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>

              <!-- Unnamed (Right Triangle) -->
              <div id="u3974" class="ax_default box_3">
                <img id="u3974_img" class="img " src="images/餐桌管理/u2967.png"/>
                <!-- Unnamed () -->
                <div id="u3975" class="text" style="display: none; visibility: hidden">
                  <p><span></span></p>
                </div>
              </div>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u3976" class="ax_default _三级标题">
            <div id="u3976_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u3977" class="text" style="visibility: visible;">
              <p><span>编号</span></p>
            </div>
          </div>

          <!-- Unnamed (复选框) -->
          <div id="u3978" class="ax_default checkbox">
            <label for="u3978_input">
              <!-- Unnamed () -->
              <div id="u3979" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </label>
            <input id="u3978_input" type="checkbox" value="checkbox"/>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u3980" class="ax_default _三级标题">
            <div id="u3980_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u3981" class="text" style="visibility: visible;">
              <p><span>操作</span></p>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u3982" class="ax_default _三级标题">
            <div id="u3982_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u3983" class="text" style="visibility: visible;">
              <p><span>商品类别</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (组合) -->
        <div id="u3984" class="ax_default">

          <!-- Unnamed (矩形) -->
          <div id="u3985" class="ax_default label">
            <div id="u3985_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u3986" class="text" style="visibility: visible;">
              <p><span>00001</span></p>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u3987" class="ax_default label">
            <div id="u3987_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u3988" class="text" style="visibility: visible;">
              <p><span>凉拌黄瓜</span></p>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u3989" class="ax_default label">
            <div id="u3989_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u3990" class="text" style="visibility: visible;">
              <p><span>15</span></p>
            </div>
          </div>

          <!-- Unnamed (图片) -->
          <div id="u3991" class="ax_default _图片">
            <img id="u3991_img" class="img " src="images/菜品管理/u3568.png"/>
            <!-- Unnamed () -->
            <div id="u3992" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </div>

          <!-- Unnamed (复选框) -->
          <div id="u3993" class="ax_default checkbox">
            <label for="u3993_input">
              <!-- Unnamed () -->
              <div id="u3994" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </label>
            <input id="u3993_input" type="checkbox" value="checkbox" checked/>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u3995" class="ax_default primary_button">
            <div id="u3995_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u3996" class="text" style="visibility: visible;">
              <p><span>删除</span></p>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u3997" class="ax_default primary_button">
            <div id="u3997_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u3998" class="text" style="visibility: visible;">
              <p><span>编辑</span></p>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u3999" class="ax_default label">
            <div id="u3999_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u4000" class="text" style="visibility: visible;">
              <p><span>凉菜</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (组合) -->
        <div id="u4001" class="ax_default">

          <!-- Unnamed (图片) -->
          <div id="u4002" class="ax_default _图片">
            <img id="u4002_img" class="img " src="images/菜品管理/u3599.png"/>
            <!-- Unnamed () -->
            <div id="u4003" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u4004" class="ax_default label">
            <div id="u4004_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u4005" class="text" style="visibility: visible;">
              <p><span>暂无数据！</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (组合) -->
        <div id="u4006" class="ax_default">

          <!-- Unnamed (图片) -->
          <div id="u4007" class="ax_default _图片">
            <img id="u4007_img" class="img " src="images/草稿箱/u4007.png"/>
            <!-- Unnamed () -->
            <div id="u4008" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </div>

          <!-- Unnamed (水平线) -->
          <div id="u4009" class="ax_default line">
            <img id="u4009_img" class="img " src="images/草稿箱/u4009.png"/>
            <!-- Unnamed () -->
            <div id="u4010" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (热区) -->
        <div id="u4011" class="ax_default">
        </div>

        <!-- Unnamed (组合) -->
        <div id="u4012" class="ax_default">

          <!-- Unnamed (矩形) -->
          <div id="u4013" class="ax_default label">
            <div id="u4013_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u4014" class="text" style="visibility: visible;">
              <p><span>00001</span></p>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u4015" class="ax_default label">
            <div id="u4015_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u4016" class="text" style="visibility: visible;">
              <p><span>凉拌黄瓜</span></p>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u4017" class="ax_default label">
            <div id="u4017_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u4018" class="text" style="visibility: visible;">
              <p><span>15</span></p>
            </div>
          </div>

          <!-- Unnamed (图片) -->
          <div id="u4019" class="ax_default _图片">
            <img id="u4019_img" class="img " src="images/菜品管理/u3568.png"/>
            <!-- Unnamed () -->
            <div id="u4020" class="text" style="display: none; visibility: hidden">
              <p><span></span></p>
            </div>
          </div>

          <!-- Unnamed (复选框) -->
          <div id="u4021" class="ax_default checkbox">
            <label for="u4021_input">
              <!-- Unnamed () -->
              <div id="u4022" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
              </div>
            </label>
            <input id="u4021_input" type="checkbox" value="checkbox" checked/>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u4023" class="ax_default primary_button">
            <div id="u4023_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u4024" class="text" style="visibility: visible;">
              <p><span>删除</span></p>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u4025" class="ax_default primary_button">
            <div id="u4025_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u4026" class="text" style="visibility: visible;">
              <p><span>编辑</span></p>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u4027" class="ax_default label">
            <div id="u4027_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u4028" class="text" style="visibility: visible;">
              <p><span>凉菜</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
