<!DOCTYPE html>
<html>
  <head>
    <title>解绑流程图</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/解绑流程图/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/ie.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="files/解绑流程图/data.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (矩形) -->
      <div id="u1808" class="ax_default flow_shape">
        <div id="u1808_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1809" class="text" style="visibility: visible;">
          <p><span>开始解绑</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1810" class="ax_default flow_shape">
        <div id="u1810_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1811" class="text" style="visibility: visible;">
          <p><span style="font-family:'PingFangSC-Regular', 'PingFang SC';">扫码二维码</span><span style="font-family:'Arial Normal', 'Arial';"></span></p><p><span style="font-family:'PingFangSC-Regular', 'PingFang SC';">确认身份</span></p>
        </div>
      </div>

      <!-- Unnamed (菱形) -->
      <div id="u1812" class="ax_default flow_shape">
        <img id="u1812_img" class="img " src="images/解绑流程图/u1812.png"/>
        <!-- Unnamed () -->
        <div id="u1813" class="text" style="visibility: visible;">
          <p><span>是否是原绑定者</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1814" class="ax_default flow_shape">
        <div id="u1814_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1815" class="text" style="visibility: visible;">
          <p><span>确认提示</span></p>
        </div>
      </div>

      <!-- Unnamed (菱形) -->
      <div id="u1816" class="ax_default flow_shape">
        <img id="u1816_img" class="img " src="images/解绑流程图/u1816.png"/>
        <!-- Unnamed () -->
        <div id="u1817" class="text" style="visibility: visible;">
          <p><span>是否解绑</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1818" class="ax_default flow_shape">
        <div id="u1818_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1819" class="text" style="visibility: visible;">
          <p><span>解绑成功</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1820" class="ax_default flow_shape">
        <div id="u1820_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1821" class="text" style="visibility: visible;">
          <p><span>解绑失败</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1822" class="ax_default flow_shape">
        <div id="u1822_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1823" class="text" style="visibility: visible;">
          <p><span>提示</span></p><p><span>身份验证失败</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1824" class="ax_default flow_shape">
        <div id="u1824_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u1825" class="text" style="visibility: visible;">
          <p><span>解绑中止</span></p>
        </div>
      </div>

      <!-- Unnamed (连接线) -->
      <div id="u1826" class="ax_default connector">
        <img id="u1826_seg0" class="img " src="images/解绑流程图/u1826_seg0.png" alt="u1826_seg0"/>
        <img id="u1826_seg1" class="img " src="images/流程图/u1764_seg1.png" alt="u1826_seg1"/>
        <!-- Unnamed () -->
        <div id="u1827" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (连接线) -->
      <div id="u1828" class="ax_default connector">
        <img id="u1828_seg0" class="img " src="images/解绑流程图/u1828_seg0.png" alt="u1828_seg0"/>
        <img id="u1828_seg1" class="img " src="images/流程图/u1764_seg1.png" alt="u1828_seg1"/>
        <!-- Unnamed () -->
        <div id="u1829" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (连接线) -->
      <div id="u1830" class="ax_default connector">
        <img id="u1830_seg0" class="img " src="images/解绑流程图/u1830_seg0.png" alt="u1830_seg0"/>
        <img id="u1830_seg1" class="img " src="images/流程图/u1764_seg1.png" alt="u1830_seg1"/>
        <!-- Unnamed () -->
        <div id="u1831" class="text" style="visibility: visible;">
          <p><span>是</span></p>
        </div>
      </div>

      <!-- Unnamed (连接线) -->
      <div id="u1832" class="ax_default connector">
        <img id="u1832_seg0" class="img " src="images/解绑流程图/u1832_seg0.png" alt="u1832_seg0"/>
        <img id="u1832_seg1" class="img " src="images/流程图/u1802_seg2.png" alt="u1832_seg1"/>
        <!-- Unnamed () -->
        <div id="u1833" class="text" style="visibility: visible;">
          <p><span>否</span></p>
        </div>
      </div>

      <!-- Unnamed (连接线) -->
      <div id="u1834" class="ax_default connector">
        <img id="u1834_seg0" class="img " src="images/解绑流程图/u1834_seg0.png" alt="u1834_seg0"/>
        <img id="u1834_seg1" class="img " src="images/流程图/u1764_seg1.png" alt="u1834_seg1"/>
        <!-- Unnamed () -->
        <div id="u1835" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (连接线) -->
      <div id="u1836" class="ax_default connector">
        <img id="u1836_seg0" class="img " src="images/解绑流程图/u1836_seg0.png" alt="u1836_seg0"/>
        <img id="u1836_seg1" class="img " src="images/流程图/u1764_seg1.png" alt="u1836_seg1"/>
        <!-- Unnamed () -->
        <div id="u1837" class="text" style="visibility: visible;">
          <p><span>是</span></p>
        </div>
      </div>

      <!-- Unnamed (连接线) -->
      <div id="u1838" class="ax_default connector">
        <img id="u1838_seg0" class="img " src="images/解绑流程图/u1838_seg0.png" alt="u1838_seg0"/>
        <img id="u1838_seg1" class="img " src="images/流程图/u1802_seg2.png" alt="u1838_seg1"/>
        <!-- Unnamed () -->
        <div id="u1839" class="text" style="visibility: visible;">
          <p><span>否</span></p>
        </div>
      </div>

      <!-- Unnamed (连接线) -->
      <div id="u1840" class="ax_default connector">
        <img id="u1840_seg0" class="img " src="images/解绑流程图/u1840_seg0.png" alt="u1840_seg0"/>
        <img id="u1840_seg1" class="img " src="images/流程图/u1802_seg2.png" alt="u1840_seg1"/>
        <!-- Unnamed () -->
        <div id="u1841" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>
    </div>
  </body>
</html>
