body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:890px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12944 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:891px;
  height:508px;
}
#u12945 {
  position:absolute;
  left:0px;
  top:0px;
  width:890px;
  height:507px;
}
#u12946 {
  position:absolute;
  left:2px;
  top:246px;
  width:886px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:890px;
  height:507px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12947 {
  position:absolute;
  left:0px;
  top:0px;
  width:890px;
  height:507px;
}
#u12948 {
  position:absolute;
  left:2px;
  top:246px;
  width:886px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12949 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:195px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12950 {
  position:absolute;
  left:290px;
  top:156px;
  width:310px;
  height:195px;
}
#u12951 {
  position:absolute;
  left:2px;
  top:90px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:2px;
}
#u12952 {
  position:absolute;
  left:290px;
  top:213px;
  width:310px;
  height:1px;
}
#u12953 {
  position:absolute;
  left:2px;
  top:-8px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12954 {
  position:absolute;
  left:315px;
  top:177px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12955 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12956 {
  position:absolute;
  left:375px;
  top:249px;
  width:128px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u12957 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
#u12958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12958 {
  position:absolute;
  left:450px;
  top:311px;
  width:150px;
  height:40px;
  font-size:16px;
}
#u12959 {
  position:absolute;
  left:2px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u12958_ann {
  position:absolute;
  left:593px;
  top:307px;
  width:1px;
  height:1px;
}
#u12960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12960 {
  position:absolute;
  left:290px;
  top:311px;
  width:160px;
  height:40px;
  font-size:16px;
}
#u12961 {
  position:absolute;
  left:2px;
  top:10px;
  width:156px;
  word-wrap:break-word;
}
#u12960_ann {
  position:absolute;
  left:443px;
  top:307px;
  width:1px;
  height:1px;
}
#u12962 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:146px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 8px rgba(0, 0, 0, 0.349019607843137);
}
#u12963 {
  position:absolute;
  left:665px;
  top:333px;
  width:195px;
  height:146px;
}
#u12964 {
  position:absolute;
  left:2px;
  top:65px;
  width:191px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:73px;
}
#u12965 {
  position:absolute;
  left:711px;
  top:357px;
  width:90px;
  height:72px;
}
#u12966 {
  position:absolute;
  left:2px;
  top:28px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12967 {
  position:absolute;
  left:724px;
  top:442px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12968 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12969 {
  position:absolute;
  left:370px;
  top:351px;
  width:0px;
  height:0px;
}
#u12969_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:59px;
}
#u12969_seg1 {
  position:absolute;
  left:-4px;
  top:51px;
  width:299px;
  height:8px;
}
#u12969_seg2 {
  position:absolute;
  left:280px;
  top:45px;
  width:20px;
  height:20px;
}
#u12970 {
  position:absolute;
  left:70px;
  top:47px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
